@import 'configuration.scss';

.app-products {

    .content {
        @media (max-width: $tablet-max) {
            padding: 0;
        }
    }

    .sidebar {
        background: $filter-section-bg;

	    .category-item.active-left {
            padding: 0;
            button {
                padding-left: 10px;
            }
        }

        .main-profiles {
            margin-bottom: 30px;

            collapsing {
                padding: 0;
            }

            trigger {
                text-align: right;
            }
        }

        .filters-section {

            .saved-filters-title {
                margin: 0;
                padding: 15px 0;
                clear: both;

                @media (max-width: $tablet-max) {
                    border-top: 1px solid $border-color;
                }
            }
        }

        .filters-wrapper {
            margin: 40px 0;
        }

        .filter-profile {
            position: relative;
            border-bottom: 1px solid $border-color;

            @media (max-width: $tablet-max) {
                background: $filter-section-bg;
            }

            &:first-child {
                @media (max-width: $tablet-max) {
                    border-top: 1px solid $border-color;
                }
            }

            &.active-left {
                padding: 0;
                border-left-color: $secondary-color !important;
                background: #fff;

                .name:hover {
                    background: inherit;
                    cursor: inherit;
                    color: inherit;
                    transition: none;
                }
            }
        }

        .name,
        .remove {
            padding: 10px 15px;
            border: none;
            height: 45px;
            border-radius: 0;
        }

        .name {
            text-align: left;
            width: calc(100% - 45px);
        }

        .global .name {
            font-weight: 500;
        }

        .full .name {
            width: 100%;
        }

        .remove {
            width: 45px;
        }

        .app-checkbox,
        .app-radio {
            label {
                padding: 10px 15px;
                display: block;
            }
        }

        .save-filter {
            padding: 20px 15px;

            .subsection-title,
            label {
                padding: 0;
            }

            .input-with-icon {
                width: 100%
            }
        }

        .save-as {
            margin-top: 15px;
        }
    }

    .api-extensions {
        margin-top: 10px;
    }

    .products-list {
        padding-top: 14px;
        .banner-wrapper {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto 1em auto;
            @media (max-width: $tablet-max) {
                display: flex;
                width: 70%;
            }
            .banner-link {
                width: 50% !important;
                //text-align: center !important;
                @media (max-width: $tablet-max) {
                    width: 100% !important;
                }
                .banner-image {
                    width: 98%;
                    height: 100%;
                    @media (max-width: $tablet-max) {
                        max-width: 100%;
                    }
                }
            }
            .banner-link-garden{
                width: 100% !important;
                margin-top: 0.7em;

                @media (max-width: $tablet-max) {
                    margin-top: 0;
                    width: 100% !important;
                }
                .banner-image {
                    width: 99%;
                    height: 100%;
                    @media (max-width: $tablet-max) {
                        width: 98%;
                    }
                }
            }
        }

        @media (max-width: $tablet-max) {
            padding-top: 25px;
        }

        .products-list-header {
            margin-bottom: 6px;

            @media (max-width: $tablet-max) {
                padding: 0 8px;
            }

            &__actions {
                display: flex;
                justify-content: space-between;
            }

            &__breadcrumbs {
                @media (min-width: $laptop-min) {
                    margin-bottom: 24px;
                }
            }

            &__filters-values {

                &--available {
                    margin-top: 16px;
                }
            }

            &__main {
                @media (min-width: $laptop-min) {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .filters-button {
            margin-left: 8px;

            @media (min-width: $laptop-min) {
                display: none;
            }
        }

        .list-item {
            position: relative;
            clear: both;
        }

        .item-info {
            @media (min-width: #{$tablet-max + 1}) {
                float: left;
            }

            &.name {
                max-width: 100%;
            }
        }

        .name p {
            margin: 0;
        }

        .product-name {
            font-size: 18px;
            font-weight: 500;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .product-code {
            font-size: 14px;
        }

        .add-column {
            text-align: right;
        }

        .app-stepper,
        .app-select .value,
        .disabled {
            position: relative;
            z-index: 5;
        }


        .choose-cart {
            display: inline-block;
            width: 100px;

            @media (max-width: $tablet-max) {
                width: 79px;
            }
        }

        .waiting-price {
            .overlay {
                position: absolute;
            }
        }

        .amount-section {

            select {
                min-width: 90px;
            }
        }

        .unit {
            max-width: 130px;

            @media (max-width: $tablet-max) {
                width: 100%;
                padding-top: 10px;
            }
        }


        .add-to-cart {
            height: 40px;
            z-index: 5;
        }

        .app-product-flags {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 180px;
            flex-wrap: wrap;
            overflow: hidden;
            height: 22px;

            @media (max-width: $tablet-max) {
                position: absolute;
                top: -68px;
                left: -10px;
                width: 100vw;
                flex-wrap: wrap;
                overflow: hidden;
                height: 19px;
            }
        }

        .basic-price {
            display: block;
            margin: 0;
        }
        .variants-container{
            @media (min-width: $laptop-min) {
                display: flex;
                align-items: center;
                .select-variants {
                    padding-left:20px!important;
                }
            }
        }
        .select-variants {
            display: flex;
            align-items: center;
            justify-content: center;
            //width: 100%;
            color: $primary-color;
            font-size: 0.8em;

            @media (min-width: $laptop-min) {
                font-size: 1em;
            }

            &__icon {
                font-size: 2em;
                margin-right: 16px;
            }
        }

        //quick shopping
        .display-type-0 {
            .ean {
                width: 125px;
                -ms-flex-order: 2;
                order: 2;
            }

            .api-extensions {
                @media (max-width: $tablet-max) {
                    padding-right: 100px;
                    overflow: hidden;
                    max-height: 45px;
                }
            }

            .ean {
                width: 125px;
                -ms-flex-order: 2;
                order: 2;
            }

            &.list-container {
                border: 1px solid $table-border-color;
                border-top: none;
                font-size: 0.9rem;

                @media (max-width: $tablet-max) {
                    border-left: 0;
                    border-right: 0;
                }

                .size-guard {
                    height: 50px !important;
                }
            }

            .thead,
            .item-row {
                display: flex;
            }

            .thead {

                .stock,
                .total-price,
                .subtotal-price {

                    @media (max-width: $tablet-max) {
                        display: none;
                    }
                }

                .name {
                    min-width: 120px;
                }

                .add-column {
                    padding: 0;
                    padding-left: 10px;
                }
            }

            .item-info {
                float: left;
                padding: 10px;
            }


            .name {
                margin-right: auto;
                order: 1;
                flex-grow: 3;
                width: calc(100% - 730px);
            }

            .product-name {
                font-size: 16px;
            }

            .stock {
                order: 2;

                @media (max-width: $tablet-max) {
                    text-align: left !important;
                    position: absolute;
                    top: 75px;
                }
            }

            .subtotal-price,
            .total-price,
            .stock {
                width: 150px;
                text-align: right;
            }

            .add-column {
                width: 300px;
                text-align: left;

                @media (max-width: $tablet-max) {
                    text-align: right;
                }
            }


            .subtotal-price,
            .total-price,
            .add-column {
                order: 3;
            }

            .converter {
                display: block;
                width: 100%;
                text-align: right;

                @media (max-width: $tablet-max) {
                    order: 3;
                }
            }

            .app-stepper {
                vertical-align: top;
            }

            .amount-section {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                @media (max-width: $tablet-max) {
                    display: block;
                }
            }

            .app-threshold-price-list {
                width: 100%;
                margin-top: 10px;

                @media (max-width: $tablet-max) {
                    position: absolute;
                    width: 100vw;
                    left: 0;
                    top: 0;
                    margin-top: 0;
                }
            }

            .list-item {

                &:nth-child(even) {
                    background: $table-stripes-bg;
                }

                &.item-row {

                    @media (max-width: $tablet-max) {
                        display: block;
                        min-height: 165px;
                        padding: 10px 0;

                        &.with-threshold {
                            min-height: 190px;
                            padding-top: 30px;
                        }
                    }
                }

                .name,
                .subtotal-price,
                .total-price {
                    @media (max-width: $tablet-max) {
                        position: absolute;
                        top: 10px;
                        width: calc(100% - 100px);
                        padding-top: 0;
                        padding-bottom: 0;

                        &.with-threshold {
                            top: 25px;
                        }
                    }
                }

                .add-column {
                    @media (max-width: $tablet-max) {
                        width: 100px;
                        width: 100px;
                        float: right;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                .select-variants {
                    flex-direction: column;
                    margin-top: 30px;
                    padding: 0 8px;

                    @media (min-width: $laptop-min) {
                        flex-direction: row;
                        margin-top: 0;
                        padding: 0;
                    }

                    &__icon {
                        margin-right: 0;
                        margin-bottom: 8px;

                        @media (min-width: $laptop-min) {
                            margin-right: 16px;
                            margin-bottom: 0;
                        }
                    }

                    &__text {
                        text-align: center;

                        @media (min-width: $laptop-min) {
                            text-align: unset;
                        }
                    }
                }

                .subtotal-price {
                    font-size: large;

                    @media (max-width: $tablet-max) {
                        top: 30px;
                        padding-right: 0;

                        &.with-threshold {
                            top: 50px;
                        }
                    }
                }

                .total-price {
                    font-size: large;

                    @media (max-width: $tablet-max) {
                        top: 100px;
                        padding-right: 0;

                        &.with-threshold {
                            top: 120px;
                        }
                    }
                }
            }

            .unavailable-option {
                width: 172px;
                max-width: 100%;

                @media (max-width: $tablet-max) {
                    font-size: 12px;

                    &__icon {
                        display: none;
                    }
                }
            }
        }

        //list & grid
        .display-type-1,
        .display-type-2 {


            .item-info {
                text-align: right;
                float: right;
                clear: right;
            }

            &.list-container .name {
                float: left;
                text-align: left;
            }



            .subtotal-price {
                font-size: 1.6em;
            }

            .total-price {
                margin-bottom: 25px;
                font-size: 1.2rem;
            }


            .amount-section,
            .cart-button-section {
                >* {
                    vertical-align: bottom;
                }
            }

            .subtotal-price {
                margin-bottom: 15px;
            }

            .unavailable-option {
                width: 172px;
                max-width: 100%;
            }

            .select-variants {
                justify-content: flex-end;
            }
        }

        //list
        .display-type-1 {

            .image-container {
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 10px;
                width: 180px;

                @media (max-width: $tablet-max) {
                    top: 70px;
                    width: 100px;
                    height: 110px;
                    bottom: auto;
                    min-height: 0;
                }

                .with-flags-threshold {
                    @media (max-width: $tablet-max) {
                        margin-top: 60px;
                    }
                }

                img {
                    @media (max-width: $tablet-max) {
                        margin: 0;
                    }
                }
            }

            .list-item {
                min-height: 195px;
                padding: 15px;
                border-bottom: 1px solid $border-color;
                min-height: 245px;

                @media (max-width: $tablet-max) {
                    padding: 10px;
                    min-height: 300px;
                }

                &.with-flags {
                    @media (max-width: $tablet-max) {
                        padding-top: 25px;
                    }
                }

                &.with-threshold {
                    @media (max-width: $tablet-max) {
                        padding-top: 30px;
                    }
                }

                &.with-flags.with-threshold {
                    @media (max-width: $tablet-max) {
                        padding-top: 50px;
                        min-height: 350px;
                    }
                }

                &.with-converter {
                    @media (max-width: $tablet-max) {
                        min-height: 330px;
                    }
                }

                .select-variants {
                    padding-left: 16px;

                    @media (min-width: $laptop-min) {
                        padding: 0;
                    }

                    &__text {
                        text-align: left;
                    }

                    &__icon {
                        margin-right: 8px;

                        @media (min-width: $laptop-min) {
                            margin-right: 16px;
                        }
                    }
                }
            }


            &.list-container {

                @media (max-width: $tablet-max) {
                    border-top: 1px solid $border-color;
                }

                .name {
                    padding-left: 200px;

                    @media (max-width: $tablet-max) {
                        padding-left: 0;
                        width: 100%;
                        max-width: none;
                    }
                }
            }

            .api-extensions{
                @media (max-width: $tablet-max) {
                    padding-left: 110px;
                    padding-right: 185px;
                    max-height: 110px;
                    overflow: hidden;
                }
            }

            .name {
                max-width: 100%;
                width: calc(100% - 300px);
            }

            .amount-section {
                float: left;
                margin-right: auto;
                width: 270px;
                display: flex;
                max-width: 100%;

                @media (max-width: $tablet-max) {
                    margin: 0;
                    display: block;
                }
            }

            .threshold-price-list {
                width: 295px;
                margin-bottom: 50px;

                @media (max-width: $tablet-max) {
                    position: absolute;
                    width: 100vw;
                    left: 0;
                    top: 0;
                    margin-bottom: 0;
                }

                &.with-flags {
                    @media (max-width: $tablet-max) {
                        top: 23px;
                    }
                }
            }

            .unit,
            .one-unit {
                max-width: 110px;
                margin-left: auto;
            }

            .converter {
                text-align: left;

                @media (max-width: $tablet-max) {
                    text-align: right;
                }

                &.with-unavailable {
                    padding-left: 178px;

                    @media (max-width: $tablet-max) {
                        padding-left: 0;
                    }
                }
            }

            .stock {
                position: absolute;
                bottom: 0;
                left: 215px;
                right: 620px;
                margin-bottom: 15px;
                transform: translateY(-0.75em);

                @media (max-width: $tablet-max) {
                    bottom: 150px;
                    left: 175px;
                    right: 15px;
                }
            }


            .to-cart {
                float: right;
            }

            .subtotal-price,
            .total-price {

                @media (max-width: $tablet-max) {
                    font-size: 18px;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    width: 155px;
                    margin: 0;
                }
            }

            .subtotal-price {

                @media (max-width: $tablet-max) {
                    margin-bottom: 2.9em;
                }

                &.with-converter {
                    @media (max-width: $tablet-max) {
                        margin-bottom: 3.9em;
                    }
                }
            }

            .unavailable-option {
                position: absolute;
                right: 0;
                bottom: 0;

                @media (max-width: $tablet-max) {
                    position: static;
                }
            }

            .add-column {
                position: absolute;
                right: 15px;
                bottom: 7px;
                width: 580px;

                @media (max-width: $tablet-max) {
                    position: absolute;
                    width: 180px;
                    right: 10px;
                    flex-direction: column;
                }
            }

            .converter {
                position: absolute;
                top: -1.6em;

                @media (max-width: $tablet-max) {
                    position: static;
                }
            }

            .one-unit {
                @media (max-width: $tablet-max) {
                    display: block;
                    height: 60px;
                }
            }

            .unit {
                @media (max-width: $tablet-max) {
                    padding-bottom: 10px;
                }
            }

            .brutto-netto {
                @media (max-width: $tablet-max) {
                    float: left;
                    line-height: 26px;
                    height: 26px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        //grid
        .display-type-2 {

            .list-item {
                float: left;
                clear: none;
                width: 50%;
                margin: 0;
                padding: 20px;
                height: 390px;
                border-bottom: 1px solid $border-color;

                &:nth-child(odd) {
                    border-right: 1px solid $border-color;
                }
            }

            .name {
                max-width: calc(100% - 260px);
            }


            .product-code {
                top: 30px;
            }

            .item-info {
                flex-direction: column;
            }

            .image-container {
                width: 320px;
                height: 280px;
                max-width: 100%;
            }

            .api-extensions {
                position: absolute;
                left: 15px;
                bottom: 15px;
                right: 328px;
                background: $background;
                max-height: 110px;
                overflow: hidden;
            }

            .stock {
                position: absolute;
                right: 20px;
                bottom: 120px;
            }

            .add-column {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }

            .amount-section,
            .stock {
                margin-bottom: 15px;
            }

            .threshold-price-list {
                width: 295px;
                position: absolute;
                right: 20px;
                bottom: 155px;
            }

            .unit,
            .one-unit {
                margin-left: 15px;
            }

            .amount-section {
                display: inline-block;

                select {
                    display: block;
                    width: 100%;
                    margin-top: 10px;
                }
            }

            .unavailable-option {
                width: 180px;
            }
        }

        .list-item {

            @media (max-width: $tablet-max) {
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
                margin-bottom: 10px;
            }

            .app-threshold-price-list {

                .app-dropdown {
                    z-index: 6;

                    &.opened {
                        z-index: 7;

                        @media (max-width: $tablet-max) {
                            z-index: 21;
                        }
                    }

                    .trigger {
                        padding: 0.5em;
                        font-size: 0.9em;

                        @media (max-width: $tablet-max) {
                            padding: 0.2em;
                            font-size: 0.8em;

                            .ti-shopping-cart-full {
                                font-size: 1.2em;
                            }
                        }
                    }

                    .dropdown-window {
                        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);

                        .header {
                            font-size: 0.85em;

                            @media (max-width: $tablet-max) {
                                font-size: 1em;
                            }

                            .header-icon {
                                padding: 0 1.2em;

                                @media (max-width: $tablet-max) {
                                    padding: 0 1.5em;
                                }
                            }
                        }

                        .body-content {
                            .grid-container {
                                padding: 0.6em;

                                @media (max-width: $tablet-max) {
                                    padding: 0.6em 1.2em;
                                }
                            }
                        }
                    }
                }
            }
        }

        .sorting-wrapper {
            margin: 0 8px;

            @media (min-width: $laptop-min) {
                margin: 0;
                margin-left: 32px;
            }
        }
    }

    .availability-legend{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        border-bottom: 1px solid #d9d9d9;

        &-element{
            text-align: center;
        }
    }

    .no-results {
        margin-top: 50px;
    }

    .confirm-delete-filter-set-modal {

        .title {
            font-size: 1rem;
        }
    }

    .filter-set-notification-modal {

        .modal-window {
            width: 600px;
            min-height: 120px;
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
        }

        .title {
            margin: 0 8px;
            font-size: 1.1rem;

            &__error-block {
                display: block;
                margin-top: 12px;
                font-size: 0.8em;
            }

            &__icon {
                font-size: 1.5rem;

                &--check {
                    color: $cart-button-bg;
                }

                &--alert {
                    color: $danger;
                }
            }
        }
    }
}
