@import 'configuration.scss';

.app-account {
    display: block;
    //margin-bottom: -($footer-height + 40px);

    @media (max-width: $tablet-max) {
        margin-bottom: 0;
    }

    .app-menu {
        position: relative;
        z-index: 10;

        @media (max-width: $tablet-max) {
            position: static;
            height: auto;
        }

        .nav-container {
            grid-template-columns: $sidebars-width;
            margin-left: $sidebars-width;

            @media (max-width: $tablet-max) {
                grid-template-columns: 100%;
                margin-left: 0;
            }
        }

        .menu-item.active-top:not(.back) {
            padding: 0;
            position: relative;
            width: 100%;
            font-size: inherit;

            @media (max-width: $tablet-max) {
                margin-left: 0;
                width: 100%;
                height: auto;
            }
        }

        input {
            max-width: none;
            font-size: inherit;
        }

        .label {
            min-height: $bar-height;
            display: flex;
            align-items: center;
        }

        .app-checkbox .label {
            display: initial;
            min-height: 0;
        }
    }


    .login-container {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        top: 100%;
        border: none;
        text-align: left;
        white-space: normal;

        @media (max-width: $tablet-max) {
            position: static;
        }

        input {
            margin: 0;
        }


        [type="submit"],
        button {
            display: block;
            width: 100%;
        }

        .app-select {
            width: 100%;
        }

        [type="submit"],
        button:not(.value),
        .app-checkbox,
        .app-select,
        .app-floating-label-input {
            margin: 0;
            margin-bottom: 15px;
        }

        .app-floating-label-input,
        .input-wrapper {
            width: 100%;
        }

        .immediately-required-form {

            [type="submit"],
            select,
            .app-checkbox,
            .app-floating-label-input {
                &.ng-invalid {
                    margin-bottom: 5px;
                }
            }
        }

        .app-checkbox {
            display: block;
            cursor: pointer;
            font-size: smaller;

            label {
                padding: 0;
            }
        }

        .contact-invitation {
            font-style: italic;
            font-size: 14px;
        }

        .links a,
        .links button {
            background: none;
            display: inline-block;
            padding: 0;
            text-align: right;
            width: 100%;
            line-height: 1.5em;
            height: auto;
            min-height: 0;
            margin-top: 10px;
        }

        .primary-action {
            min-height: 40px;
            margin-top: 25px;
        }

        .validation-error {
            display: block;
            font-size: 14px;
            margin-bottom: 12px;

            &--incorrect-password {
                margin-bottom: 24px;
            }
        }

        .remember-me,
        .links {
            font-size: 14px;
        }

        .invalid-password {
            margin-bottom: 5px;

            & input {
                border-bottom-color: $danger;
            }
        }
    }

    .danger {
        margin-bottom: 10px;
    }

    .tns-outer {
        margin: 0;
        width: 100%;
        min-height: 415px;
        text-align: center;

        .caption {
            display: none;
            color: #FFF;
            left: $sidebars-width*2 + 5px;
        }


        @media (max-width: $tablet-max) {
            display: none !important;
        }
    }
}


.password-input-wrapper {
    position: relative;

    .show-hide-passwd-icon {
        top: 0;
        right: 0;
        cursor: pointer;
        padding: 11px;
        position: absolute;
    }
}

.with-offline-msg {
    .app-account {
        margin-bottom: -($footer-height + $offline-message-height + 40px);
    }
}
