<app-menu class="profile-bar" [menuItems]="menuItems"></app-menu>

<nav class="sidebar filters-section" *ngIf="!configService.isMobile">

    <div class="sticky app-profile-menu">

        <app-profile-menu></app-profile-menu>

    </div>
</nav>


<div class="clear news-page section display-type-{{displayType}}" [ngClass]="{'full': !configService?.permissions?.hasAccessToArticleList}">

    <div class="list-header">

        <div class="site-map inner-clear">

            <a [routerLink]="menuService.routePaths.home" class="pure breadcrumb inline-block ti-home"></a>

            <div class="pure breadcrumb inline-block">

                <i class="ti-angle-right separator"></i>
                {{r?.translations?.news}}

            </div>

        </div>


        <button *ngIf="!configService.isMobile || !isAnyFilter" class="outline filters-button tablet-inline-block" (click)="toggleFilters()">
            <i class="ti-filter"></i>
            {{r?.translations?.filter}}
        </button>

        <button *ngIf="configService.isMobile && isAnyFilter"
                type="button"
                class="reset-button outline"
                (click)="resetAllFilters(); toggleFilters(false);">

            <i class="ti-close"></i>
            {{r?.translations?.clearFilters}}

        </button>

    </div>


    <div class="list-views tablet-hidden">

        <button class="view-type secondary 2" [ngClass]="{'active': displayType === 2}" (click)="changeView(2)">
            <i class="ti-view-grid"></i>
        </button>

        <button class="view-type secondary 1" [ngClass]="{'active': displayType === 1}" (click)="changeView(1)">
            <i class="ti-view-list-alt"></i>
        </button>

    </div>

    <form class="news-header"
          #filtersForm="ngForm"
          [hidden]="!filtersVisibility && configService.isMobile"
          [ngClass]="{'thead': displayType === 1}">

        <button class="ti-close close tablet-block" type="button" (click)="toggleFilters(false)"></button>

        <h2 class="section-title tablet-block">{{r?.translations?.filtersHeader}}</h2>

        <button class="filter-button cart tablet-block"
                *ngIf="filtersForm.dirty && configService.isMobile"
                [disabled]="!this.configService.isOnline"
                (click)="handleFilterButton(); toggleFilters(false);">
            {{r?.translations?.filter}}
        </button>

        <div class="filter-item">
            <app-floating-label-input class="title"
                                      [name]="'title'"
                                      [ngModel]="newsService.filters.title"
                                      (input)="updateCurrentFilter('title', $event.target.value)">
                {{r?.translations?.newsTitle}}
            </app-floating-label-input>
        </div>

        <div class="filter-item">
            <app-floating-label-input class="category"
                                      [name]="'category'"
                                      [ngModel]="newsService.filters.category"
                                      (input)="updateCurrentFilter('category', $event.target.value)">
                {{r?.translations?.newsCategory}}
            </app-floating-label-input>
        </div>

        <div class="filter-item">
            <div class="app-floating-label-input date">
                <span class="top floating-label">{{r?.translations?.creationDate}}</span>

                <input type="date"
                       [name]="'creationDate'"
                       [ngModel]="newsService.filters.creationDate"
                       (input)="updateCurrentFilter('creationDate', $event.target.value)" />
            </div>
        </div>

        <button *ngIf="(displayType === 2 || configService.isMobile) && isAnyFilter"
                type="button"
                class="reset-button"
                [ngClass]="configService.isMobile ? 'outline' : 'secondary'"
                (click)="resetAllFilters(); toggleFilters(false);">

            <i class="ti-close"></i>
            {{r?.translations?.clearFilters}}

        </button>

    </form>

    <div class="selected-filters" *ngIf="configService.isMobile && isAnyFilter">

        <button class="secondary clear-filter"
                *ngIf="visibleCurrentFilter.title"
                (click)="updateCurrentFilter('title', ''); handleFilterButton();">

            <i class="ti-close"></i>
            <span class="name">{{r?.translations?.newsTitle}}</span>:
            <span class="value">{{visibleCurrentFilter.title}}</span>
        </button>

        <button class="secondary clear-filter"
                *ngIf="visibleCurrentFilter.category"
                (click)="updateCurrentFilter('category', ''); handleFilterButton();">

            <i class="ti-close"></i>
            <span class="name">{{r?.translations?.newsCategory}}</span>:
            <span class="value">{{visibleCurrentFilter.category}}</span>
        </button>

        <button class="secondary clear-filter"
                *ngIf="visibleCurrentFilter.creationDate"
                (click)="updateCurrentFilter('creationDate', ''); handleFilterButton();">

            <i class="ti-close"></i>
            <span class="name">{{r?.translations?.creationDate}}</span>:
            <span class="value">{{visibleCurrentFilter.creationDate}}</span>
        </button>
    </div>

    <div class="no-results-with-svg" *ngIf="error || newsService?.news?.length === 0">

        <app-svg-image [svgId]="'Quotes'"></app-svg-image>

        <div class="no-results-message" *ngIf="newsService?.news?.length === 0">
            <p>{{r?.translations?.noNews}}</p>
            {{r?.translations?.messageForChoosenFilters | format: ''}}
        </div>

        <div class="no-results-message" *ngIf="error">
            <p>{{error}}</p>
        </div>

    </div>

    <div class="articles" *ngIf="newsService?.news?.length > 0">

        <a class="block news-item hover-shadow"
           *ngFor="let news of newsService.news"
           [routerLink]="[menuService.routePaths.newsDetails, news.id]">

            <article class="article">

                <app-lazy-image *ngIf="news.image"
                                class="news-image-wrapper"
                                [id]="news.image.id"
                                [width]="news.image.width"
                                [height]="news.image.height"
                                [alt]="news.title">
                </app-lazy-image>

                <div *ngIf="!news.image" class="news-image-wrapper image-container image-empty">
                    <!--PG zmiany p-->
                    <img *ngIf="isError" src="/ClientApp/assets/images/no-image.svg" style="width: 95%;height: 100%;" />
                    <!-- <i class="no-photo ti-image "></i> -->
                    <!--PG zmiany k-->
                </div>

                <time class="date">
                    {{news.creationDate}}
                </time>

                <p class="category" [ngClass]="{'active-left': displayType === 2 || configService.isMobile}">
                    {{news.category}}
                </p>

                <h3 class="title multiline-ellipsis" [ngClass]="{'emphasised': displayType === 1 && !configService.isMobile}">
                    {{news.title}}
                </h3>


            </article>

        </a>

    </div>
</div>
