@import 'configuration.scss';

.app-news {

    h3, p {
        margin: 0;
    }

    .news-page {
        padding: 25px 50px;

        @media (max-width: $tablet-max) {
            padding: 0;
        }
    }

    .no-results-with-svg {
        margin: 0;
        padding: 0;
        clear: both;
    }

    .articles {
        display: grid;
    }

    .list-header {
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        align-items: start;

        @media (max-width: $tablet-max) {
            grid-template-columns: 1fr max-content;
            padding: 20px 10px;
            margin-bottom: 10px;
        }
    }

    .list-views {
        text-align: right;
    }

    .news-item {
        border-bottom: 1px solid $border-color;
    }

    .news-caption {
        padding: 20px;
    }

    .article {
        display: grid;

        @media (max-width: $tablet-max) {
            padding: 0 10px;
        }
    }

    .news-header {
        display: grid;

        @media (max-width: $tablet-max) {
            background: $dropdowns-bg;
            position: fixed !important;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0 !important;
            width: 0;
            height: 0;
            width: auto !important;
            height: auto !important;
            padding: 63px 0 0 !important;
            border: 0;
            overflow-y: auto;
            z-index: 1000;
        }

        .app-floating-label-input {
            width: 100%;
        }


        .close {
            @media (max-width: $tablet-max) {
                left: 0;
                right: auto;
                border: 0;
                border-right: 1px solid $border-color;
                z-index: 30;
                border-left: 0;
                width: 63px;
                height: 63px;
                z-index: 31;
                padding-bottom: 20px !important;
            }
        }

        .section-title {
            @media (max-width: $tablet-max) {
                position: absolute;
                top: 0;
                line-height: 63px;
                border: 0 !important;
                padding: 0;
                left: 78px;
                font-size: inherit;
                opacity: 0.6;
                margin: 0;
            }
        }

        .filter-item {
            @media (max-width: $tablet-max) {
                background: $thirdparty-color;
                border-top: 1px solid $border-color;
                padding: 20px;
            }

            &:last-child {
                @media (max-width: $tablet-max) {
                    border-bottom: 1px solid $border-color;
                }
            }

            .app-floating-label-input {
                @media (max-width: $tablet-max) {
                    margin-top: 25px;
                }
            }

            .floating-label, .floating-label.top {

                @media (max-width: $tablet-max) {
                    top: -50%;
                    font-weight: 500;
                    left: 0;
                    padding: 0;
                    margin: 0;
                    font-size: inherit;
                    color: inherit;
                    background: none;
                    transform: none;
                    opacity: 1;
                }

                label {
                    color: $content-fcolor;
                }
            }
        }

        .reset-button {
            justify-self: start;

            @media (max-width: $tablet-max) {
                position: absolute;
                top: 13px;
                right: 20px;
            }
        }
    }

    .selected-filters {
        border-top: 1px solid $border-color;
        margin: 0 0 40px;
        padding-top: 30px;
    }

    .clear-filter {
        margin: 0 10px;
    }

    .articles {

        .image-container {
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        .title {
            font-size: 20px;
            font-weight: 500;
            -webkit-line-clamp: 5;
            max-height: none;
        }

        .article {
            align-items: start;
        }

        .active-left {
            padding-top: 0;
            padding-bottom: 0;
        }

        .news-image-wrapper {
            margin: 0;

            &.image-empty {
                background: $thirdparty-color;
            }

            .no-photo {
                color: $background;
            }
        }
    }

    .filter-button {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        font-size: inherit;
    }
    //list
    .display-type-1 {
        .news-header {
            grid-template-columns: 2fr 1fr 1fr;
            margin-bottom: 8px;

            > * {
                padding: 0 15px;
            }
        }

        .list-views {
            margin-bottom: 20px;
        }

        .articles {
            grid-template-columns: 100%;
            grid-row-gap: 0;
            font-size: 14px;

            .article {
                grid-template-columns: 0.75fr 1.25fr 1fr 1fr;
                grid-template-rows: 150px;
                margin: 25px 0;
            }

            .news-image-wrapper, .title, .category, .date {
                grid-row: 1;
                padding: 0 15px;
            }

            .news-image-wrapper {
                grid-column: 1;
                height: 150px;
                align-items: center;
                justify-content: center;
                text-align: left;
            }

            .no-photo {
                font-size: 5rem;
            }

            .title {
                grid-column: 2;
            }

            .category {
                grid-column: 3;
            }

            .date {
                grid-column: 4;
            }
        }
    }
    //grid
    .display-type-2 {

        .news-header {
            grid-column-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-bottom: 19px;
        }

        .list-views {
            float: right;
        }

        .articles {
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 50px;

            .article {
                grid-template-columns: 100%;
                grid-template-rows: repeat(4, auto);
            }

            .news-image-wrapper {
                height: 200px;
                align-items: flex-start;

                @media (max-width: $tablet-max) {
                    align-items: center;
                }
            }

            .title, .date {
                padding: 0 15px;
                margin: 15px 0;
            }


            .date {
                font-size: 12px;
                text-align: right;
                color: $border-color;
                margin-top: 0;
            }

            .title {
                line-height: 1.5em;
                max-height: 3em;
                -webkit-line-clamp: 2;
            }
        }
    }

    .display-type-2, .display-type-1 {

        .news-header {
            @media (max-width: $tablet-max) {
                grid-template-columns: 100%;
                grid-column-gap: 0;
                margin: 0;
                align-content: start;
            }
        }

        .articles {
            @media (max-width: $tablet-max) {
                grid-template-columns: 100%;
                grid-column-gap: 0;
                grid-row-gap: 50px;
            }

            .article {
                @media (max-width: $tablet-max) {
                    grid-template-columns: 100%;
                    grid-template-rows: repeat(4, auto);
                    margin: 0;
                }
            }


            .title, .category, .date, .news-image-wrapper {
                @media (max-width: $tablet-max) {
                    grid-column: auto;
                    grid-row: auto;
                }
            }

            .title, .date {
                @media (max-width: $tablet-max) {
                    padding: 0 15px;
                    margin: 15px 0;
                }
            }

            .date {
                @media (max-width: $tablet-max) {
                    font-size: 12px;
                    text-align: right;
                    color: $border-color;
                    margin-top: 0;
                }
            }

            .title {
                @media (max-width: $tablet-max) {
                    line-height: 1.5em;
                    max-height: 3em;
                    -webkit-line-clamp: 2;
                }
            }
        }
    }
}
