@import 'configuration.scss';

.app-cart {
    display: block;

    .cart {
        padding-top: 30px;

        @media (max-width: $tablet-max) {
            padding: 0;
        }

        .outdatedProductsBlock {
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .exceededStates {
            background: $warning;
        }

        .outdatedPrice {
            background: $danger;
        }

        .incorrectQuantity {
            background: $blue-info;
        }

        .outdatedProduct {
            background: $outdatedProduct;
        }

        .cart-from-quote-message {

            .box-message.info {
                display: flex;
                justify-content: center;
                align-items: center;

                .ti-book {
                    font-size: 1.3em;
                    margin-right: 10px;
                }

                .quote-number {
                    color: $primary-color;
                    font-weight: 500;

                    &:hover {
                        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
                    }
                }
            }
        }

        .header-field-value {
            position: relative;

            .app-loading {
                position: absolute;
            }
        }

        .note-added {
            word-wrap: break-word;
        }
    }

    .tabs {
        i {
            padding-right: 5px;
        }
    }

    .box-message, .documents {
        margin-bottom: 20px;
    }

    .documents {
        padding-top: 20px;
    }

    .cart-options {
        padding-top: 30px;

        .box {
            margin-bottom: 0;
        }

        select, textarea, input:not([type="checkbox"]):not([type="radio"]), .app-select, .ff-date-fix {
            width: 100%;
        }

        .half {
            margin-bottom: 20px;
            padding-right: 20px;

            @media (max-width: $tablet-max) {
                padding-right: 0;
            }
        }

        .note {
            margin-bottom: 20px;

            @media (max-width: $tablet-max) {
                margin: 20px 0;
            }

            .toggle-note-button {
                position: relative;
                z-index: 1;
            }

            textarea {
                margin-top: 10px;
            }
        }

        .attributes-form, .summary {
            margin-bottom: 30px;
        }

        .attributes-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            .app-stepper {
                width: 100%;
            }

            .legend {
                grid-column: 1 / -1;
            }

            .app-floating-label-input.ng-invalid input, .app-select.ng-invalid input, .app-stepper.ng-invalid input {
                border-bottom-color: $inputs-border-color;
            }

            .app-stepper.invalid-cart.ng-invalid input {
                border-bottom-color: $danger;
            }

            .app-floating-label-input.invalid-cart.ng-invalid input, .app-select.invalid-cart.ng-invalid button, .app-stepper.invalid-cart.ng-invalid div:first-child {
                border-bottom-color: $danger;
                box-shadow: 0px 1px 4px $danger-shadow;

                &:focus {
                    box-shadow: 0px 1px 4px $danger-shadow;
                }
            }
        }

        .subsection-title {
            @media (max-width: $tablet-max) {
                font-size: 14px;
                opacity: 0.7;
            }
        }
    }

    .address-section {
        .app-select {
            .options {
                max-height: 320px;
                overflow: auto;

                @media (max-width: $tablet-max) {
                    max-height: none;

                    .centering-wrapper {
                        max-height: 80%;
                    }
                }

                .app-option {
                    height: auto;

                    .address {
                        padding: 8px;

                        .address__main {
                            display: flex;
                            justify-content: space-between;
                        }

                        .address__row {
                            display: block;
                            line-height: normal;
                            white-space: normal;

                            &.address__row--contact {
                                display: flex;
                                justify-content: space-between;
                                font-size: 0.85em;
                                margin-top: 3px;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }

        .address__link {
            font-size: 0.9em;
            border-radius: 2px;

            @media (max-width: $tablet-max) {
                margin-left: 16px;
            }

            .icon {
                font-size: 1.1em;
                margin-right: 4px;
            }
        }

        .address-section__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .address__heading {
            margin: 0;
        }

        .address__status {
            display: flex;
            align-items: center;
            padding: 4px;


            &.address__status--success {
                color: $secondary-color;

                .icon {
                    margin-right: 4px;
                }
            }

            &.address__status--failed {
                font-size: 0.9em;
                color: $danger;

                .icon {
                    margin-right: 8px;
                    font-size: 1.2em;
                }
            }
        }

        .dropdown-window {
            min-width: 400px;
            width: 24vw;
            top: auto;
            bottom: -16vh;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
            padding: 0;
            overflow: unset;

            @media (max-width: $tablet-max) {
                min-width: unset;
                width: 100%;
                top: 0;
                bottom: 0;
                overflow: auto;
            }
        }
    }

    .to-pay {
        font-weight: 600;
        margin: 0;
        clear: both;
        border-bottom: none;
    }

    .expected-date, .due-date {
        margin-top: 15px;
    }

    .collapse-cart-options {
        text-align: left;

        i {
            padding: 0 5px;
        }
    }

    .action-buttons .narrow-content {
        @media (max-width: $tablet-max) {
            padding: 0;
        }
    }

    .remove-item[disabled], .note button[disabled] {
        color: #d9d9d9;
    }


    .legend-container {
        display: inline-block;

        .legend-rows {
            margin: 0;
            margin-top: 10px;
            padding: 0;

            .legend-row {
                font-size: 90%;
                list-style: none;
                line-height: 18px;
                margin-bottom: 3px;
                text-align: left;
                display: flex;
                align-items: center;

                .label {
                    display: block;
                    float: left;
                    height: 16px;
                    width: 30px;
                    margin-right: 5px;
                    margin-left: 0;
                    border: 1px solid #999;
                }

                .description {
                    margin-right: 5px;
                }

                .link {
                    color: $primary-color;
                    font-weight: 500;
                    text-decoration: underline;

                    &:hover {
                        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
                    }
                }
            }
        }
    }
}

.app-menu {
    .menu-item.active-top.cart-menu-item {
        padding: 0 20px !important;

        @media (max-width: $tablet-max) {
            padding: 0 10px !important;
        }

        .choosen-cart {
            margin: 0 10px;
            max-width: 250px;
            min-width: 100px;

            @media (max-width: $tablet-max) {
                max-width: 115px;
                margin: 0;
                margin-left: 10px;
            }
        }
    }
}


.confirm-remove-modal {
    font-size: 18px;

    button:not(.close) {
        margin: 20px 10px 0;
    }
}

.remove-unavailable-items-modal {
    .modal-content {
        text-align: left;

        .header {
            display: grid;
            grid-template-columns: auto auto 40px;
            align-items: center;
            min-height: 100px;

            @media (max-width: $tablet-max) {
                grid-template-columns: auto auto 20px;
                border-top: 1px solid $border-color;
            }

            .header-icon {
                text-align: center;
                min-width: 70px;

                .ti-trash {
                    font-size: 45px;
                    color: $popup-icon;
                }
            }

            .header-text {
                font-size: 1.2em;
            }
        }

        .body {
            max-height: 400px;
            overflow-y: auto;
            font-size: 0.9em;

            @media (max-width: $tablet-max) {
                max-height: none;
                overflow-y: hidden;
            }

            .app-article-grid {
                text-align: left;

                .thead {
                    height: 40px;
                    min-height: 40px;

                    @media (max-width: $tablet-max) {
                        height: auto;
                        min-height: auto;
                    }
                }

                .image-container {
                    width: 45px;
                    height: 45px;
                }

                .product-name {
                    font-size: 1em;
                }

                .product-code, .pair-key {
                    font-size: 0.9em;
                }

                .narrow-content {
                    width: 85%;
                }
            }
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $border-color;
            background: $background;

            .summary {
                padding-left: 20px;
                font-size: 0.8em;

                @media (max-width: $laptop-max) {
                    padding-left: 10px;
                }
            }

            .remove-all {
                width: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 50px;

                .ti-trash {
                    font-size: 1.4em;
                    margin-right: 5px;
                }
            }
        }
    }
}
