@import 'configuration.scss';

.app-store {
    display: block;

    .app-menu {
        .menu-item.active-top.store-menu-item {
            padding: 0 20px !important;

            @media (max-width: $tablet-max) {
                padding: 0 10px !important;
            }

            .selected-store {
                @media (max-width: $tablet-max) {
                    padding-right: 5px;
                }
            }

            .edit-store-name, .save-store-name {
                color: $primary-color;
                margin: 0;
                margin-left: 10px;

                &:hover {
                    box-shadow: 0 2px 8px $dark-shadow;
                    cursor: pointer;
                }

                @media (max-width: $tablet-max) {
                    margin: 0;
                }
            }

            .store-name-input {
                margin: 0;
                margin-left: 10px;
                padding: 5px;
                font-size: 1em;

                @media (max-width: $laptop-max) {
                    width: 170px;
                }

                @media (max-width: $tablet-max) {
                    max-width: 150px;
                }
            }

            .choosen-store {
                max-width: 250px;
                min-width: 100px;
                margin-left: 10px;

                i {
                    line-height: 1;
                }

                @media (max-width: $laptop-max) {
                    max-width: 160px;
                }

                @media (max-width: $tablet-max) {
                    font-size: 12px;
                    max-width: 180px;
                }

                .value {
                    @media (max-width: $tablet-max) {
                        height: 2.5em;
                    }

                    > span {
                        line-height: 1.5em;
                    }
                }
            }
        }

        .copy-to-cart-menu-item {
            background: $cart-button-bg;
            color: $cart-button-fcolor;
            margin: -1px;

            .choose-cart .disabled {
                opacity: 1;

                .value {
                    cursor: default;
                }
            }

            &:hover {
                background: $cart-button-bg;
            }

            .ti-share, .ti-save {
                font-size: 24px;
                background: $cart-button-bg;

                &:hover:not([disabled]) {
                    background: $cart-button-hover;
                }
            }
        }
    }

    .store-container {
        padding-top: 30px;

        @media (max-width: $tablet-max) {
            padding: 20px 0;
        }

        .action-buttons .narrow-content {
            @media (max-width: $tablet-max) {
                padding: 0;
            }
        }

        .store-footer {
            width: 80%;
            margin: auto;

            @media (max-width: $tablet-max) {
                width: 100%
            }

            .choose-cart {
                height: 50px;
                width: 150px;

                .disabled .value {
                    border: 1px solid $inputs-border-color;
                    cursor: default;
                }

                @media (max-width: $laptop-max) {
                    width: 125px;
                }

                @media (max-width: $tablet-max) {
                    width: 40vw;
                }
            }

            .add-to-cart {
                height: 50px;
                width: 300px;

                .ti-save {
                    font-size: 1.2em;
                }

                @media (max-width: $laptop-max) {
                    width: 250px;
                }

                @media (max-width: $tablet-max) {
                    width: 60vw;
                }
            }
        }
    }

    .confirm-remove-modal {
        font-size: 18px;

        button:not(.close) {
            margin: 20px 10px 0;
        }

        .removeStoreNotification {
            margin: 0 20px;
            margin-bottom: 15px;
        }
    }
}
