<ng-container *ngIf="configService?.permissions?.hasAccessToStore">
    <app-menu *ngIf="backMenuItem"
              [menuItems]="[backMenuItem]"
              class="profile-bar">

        <div class="menu-item active-top store-menu-item">
            <div class="selected-store">
                {{r?.translations?.selectedStore}}:
            </div>
            <div *ngIf="!isNameEdited; else editStoreName">
                <i class="ti-pencil-alt edit-store-name"
                   *ngIf="storeExist && configService?.isOnline"
                   (click)="onClickEditStoreName()"></i>

                <app-select class="choosen-store"
                            [(ngModel)]="storeId"
                            (changeValue)="changeStore(storeId)">

                    <app-option *ngFor="let store of stores"
                                [value]="store.id"
                                [label]="store.name || store.id">
                        {{ store.name || store.id }}
                    </app-option>
                </app-select>
            </div>

            <ng-template #editStoreName>
                <div>
                    <i class="ti-save save-store-name"
                       (click)="onClickSaveNewStoreName()"></i>
                    <input class="store-name-input"
                           type="text"
                           maxlength="20"
                           (keyup.enter)="onClickSaveNewStoreName()"
                           [(ngModel)]="storeIdentifier.name" />
                </div>
            </ng-template>
        </div>

        <ng-container *ngIf="storeExist">
            <app-dropdown class="more-drop"
                          *ngIf="configService?.isMobile; else desktop">
                <trigger class="menu-item covered">
                    <button class="ti-more-alt"></button>
                </trigger>

                <content>
                    <a class="drop-item buton"
                       *ngIf="configService?.isOnline"
                       (click)="showRemoveStoreConfirmModal()">
                        <i class="ti-trash"></i>
                        {{r?.translations?.remove}}
                    </a>
                </content>
            </app-dropdown>

            <ng-template #desktop>
                <form *ngIf="configService?.permissions?.hasAccessToCart"
                      class="menu-item copy-to-cart-menu-item"
                      #copyToCartForm="ngForm"
                      (ngSubmit)="copyToCart()">

                    <span>{{r?.translations?.copyToCart}}</span>

                    <app-cart-select class="choose-cart"
                                     name="copyStoreToCartTop"
                                     [(ngModel)]="selectedCartId"
                                     [disabled]="savingData || !configService?.isOnline">
                    </app-cart-select>

                    <button type="submit"
                            [ngClass]="{'ti-share': !savingData,
                     'ti-save': savingData}"
                            [disabled]="savingData || !configService?.isOnline"></button>
                </form>
                <a class="menu-item button"
                   *ngIf="configService?.isOnline"
                   (click)="showRemoveStoreConfirmModal()">
                    <i class="ti-trash"></i>
                    <span class="tablet-hidden">{{r?.translations?.remove}}</span>
                </a>
            </ng-template>
        </ng-container>

    </app-menu>

    <div class="store-container block clear">

        <div class="no-results-with-svg"
             *ngIf="!storeExist">

            <app-svg-image [svgId]="'Inquiries'"></app-svg-image>

            <div class="no-results-message">
                <p>{{r?.translations?.noStoreFound}}.</p>
            </div>

            <a class="button back-button"
               [routerLink]="menuService?.routePaths?.home">
                {{r?.translations?.backToShop}}
            </a>

        </div>
        <form #storeForm="ngForm"
              *ngIf="articles?.length > 0">

            <app-article-grid [items]="articles"
                              [summary]="summary"
                              [config]="config"
                              [pagination]="pagination"
                              (changePage)="changePage($event);"
                              (removeItem)="removeStoreItem($event);"
                              (changeItemQuantity)="changeItemQuantity($event)"
                              (selectAllItemsChanged)="onSelectedAllItemsChanged($event)"
                              (singleItemSelectionChanged)="onSingleItemSelectionChanged($event)">

            </app-article-grid>


            <div class="inner-clear store-footer sticky-mobile-bottom">

                <div class="inline-flex f-right"
                     *ngIf="configService?.permissions?.hasAccessToCart">

                    <app-cart-select class="choose-cart"
                                     name="copyStoreToCartBottom"
                                     [(ngModel)]="selectedCartId"
                                     [disabled]="savingData || !configService?.isOnline">
                    </app-cart-select>

                    <button class="cart add-to-cart"
                            (click)="copyToCart()"
                            [disabled]="savingData || !configService?.isOnline">
                        <ng-container *ngIf="savingData">
                            <i class="icon ti-save"></i><span>{{r?.translations?.saving}}</span>
                        </ng-container>

                        <ng-container *ngIf="!savingData">
                            <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.copyToCart}}</span>
                        </ng-container>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <app-modal class="confirm-remove-modal"
               [isOpened]="removeStoreData.isModalOpen"
               [autoClose]="false"
               (close)="closeRemoveStoreConfirmModal()">

        <p class="removeStoreNotification">{{r?.translations?.removeStoreDialogMessage}}:
            <strong>{{removeStoreData?.store?.name || removeStoreData?.store?.id}}</strong></p>

        <button (click)="removeStore()">{{r?.translations?.dialogYes}}</button>
        <button class="pure"
                (click)="closeRemoveStoreConfirmModal()">{{r?.translations?.dialogNo}}</button>

    </app-modal>
</ng-container>
