@import 'configuration.scss';

.app-dropdown {
    position: relative;

    &:not(.flex) {
        display: inline-block;
    }

    trigger, content {
        &:not(.flex) {
            display: block;
        }
    }

    .trigger-container {
        display: inline-block;
        border: none;
        border-radius: 0;
        padding: 0;

        &, &:hover {
            background: none;
            color: inherit;
        }
    }

    trigger {
        cursor: pointer;
        display: inline-block;

        &.menu-item i {
            margin-right: 5px;
        }
    }



    .label {
        position: relative;
        top: -0.4em;
        color: tint($content-fcolor, 50%);
    }

    .dropdown-window {
        position: absolute;
        top: 0;
        left: 0;
        background: $dropdowns-bg;
        padding: 20px;
        z-index: 1000;
        box-shadow: 0 3px 6px rgba(0,0,0,0.12);
        width: 100%;
        overflow-y: auto;


        @media (max-width: $tablet-max) {
            position: fixed;
            right: 0;
            bottom: 0;
        }

        &:hover {
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            z-index: 5;

            @media (max-width: $tablet-max) {
                position: fixed;
            }
        }
    }


    &.list {

        .dropdown-window {
            padding-left: 0;
            padding-right: 0;
        }

        .label {
            padding-left: 20px;
            padding-right: 20px;
        }

        li, a {
            line-height: 40px;

            &:hover {
                background: $solid-hover-bg;
                color: $solid-button-fcolor;
            }
        }
    }

    .outside {
        z-index: 999;
    }

    .app-select .outside {
        z-index: 0;
    }
}
