@import "configuration.scss";
$columns-gap: 20px;

.app-product-details {
    display: block;

    //PG zmiana p
    .product-marker{
        width: 21px;
        height: 21px;
        //margin-right: 5px;

        @media (max-width: $tablet-max) {
            width: 12px;
            height: 12px;
            //margin: 0em 0em .2em -1em;
        }
    }
    //PG zmiana k
    .section-title-font{
        display: flex;
        align-items: center;
        font-weight: 600!important;
        font-size: 2em!important;
    }

    .section-title {
        border-left-color: white !important;
        font-size: 1.5em;
        padding-left: 0px;

        img {
            // margin: 0em 0em .35em -1em;
            // width: 20px;
            // height: 16px;
            width: 21px;
            height: 21px;
            margin-right: 5px;

            @media (max-width: $tablet-max) {
                width: 11px;
                height: 11px;
                margin-right: 2px;
                //margin: 0em 0em .2em -1em;
            }
        }

        @media (max-width: $tablet-max) {
            font-size: 1em!important;
        }
    }

    .image-container {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .item-details {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, calc(33.33% - #{$columns-gap * 2 / 3}));
        justify-content: center;
        grid-column-gap: $columns-gap;
        grid-row-gap: 30px;

        @media (max-width: $tablet-max) {
            padding: 0;
            padding-top: 30px;
            grid-template-columns: 100%;
        }
    }

    .site-map {
        grid-column: 1 / -1;
    }

    .name {
        position: relative;
        grid-column: 1 / -2;

        &__loading {
            position: absolute;
        }
    }

    .flags {
        position: relative;
        text-align: right;
        align-self: end;

        &__loading {
            position: absolute;
        }

        @media (max-width: $tablet-max) {
            grid-row: 1;
        }

        .flag {
            margin-right: 0;
            margin-left: 5px;
        }
    }

    h1 {
        margin: 0;

        @media (max-width: $tablet-max) {
            font-size: 16px;
        }
    }

    .gallery {
        @media (max-width: $tablet-max) {
            grid-row: 2;
        }

        .no-photo {
            font-size: 15rem;
        }

        .big-photo {
            .image-container {
                margin: auto;

                @media (max-width: $tablet-max) {
                    width: 100%;
                }
            }

            .slides-wrapper img {
                max-height: 80vh;

                @media (max-width: $tablet-max) {
                    max-height: 210px;
                }
            }
        }
    }

    .gallery-thumbs {
        margin: 40px;
        margin-bottom: 0;
    }

    .app-swiper .gallery-zoom.gallery-thumbs {
        max-width: 450px;
        margin: 25px auto;
    }

    .details-loader {
        position: absolute;
    }

    .section {
        padding: 0;
        grid-column: 1 / -1;
    }

    .section,
    .name {
        @media (max-width: $tablet-max) {
            padding: 0 15px;
        }
    }

    .product-nav {
        border: 1px solid $border-color;
        cursor: pointer;
        display: flex;
        z-index: 10;
        background: $background;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
        border-right: 0;

        @media (max-width: $tablet-max) {
            padding: 0 !important;
            border-left: 0;
            border-right: 0;
        }

        .item {
            flex-grow: 1;
            text-align: center;
            white-space: nowrap;
            border-right: 1px solid $border-color;
            padding: 0 15px;
            height: 50px !important;
            line-height: 50px;

            @media (max-width: $tablet-max) {
                height: 40px !important;
                line-height: 40px;
            }
        }
    }

    .availability-wrapper {
        font-size: 14px;

        @media (max-width: $tablet-max) {
            font-size: 11px;
            position: absolute;
            top: -2em;
            padding: 0 10px;
            width: 100%;
            padding-right: 24px;

            &.with-threshold {
                top: -6.5em;
            }
        }
    }

    .basic-details,
    .attributes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;
        align-items: center;

        > * {
            padding: 10px;
            margin: 0;
        }
    }

    .basic-details .api-extensions {
        grid-column-end: -1;
        grid-column-start: 1;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        padding: 0;

        > * {
            padding: 10px;
            margin: 0;
            font: inherit;
            color: inherit;
        }
    }

    .basic-details {
        position: relative;

        &__loader {
            position: absolute;
        }

        @media (max-width: $tablet-max) {
            font-size: 12px;
        }

        .attribute {
            &:nth-child(4n + 1),
            &:nth-child(4n + 2) {
                background: $table-stripes-bg;
            }
        }
    }

    .prices {
        text-align: right;
        padding: 10px 0;

        @media (max-width: $tablet-max) {
            padding: 10px;
        }

        .currency {
            padding-left: 3px;
        }

        .f-left {
            margin-right: auto;
            padding-right: 15px;
        }

        .net-price,
        .gross-price {
            text-align: left;

            .pair-key,
            s {
                text-align: right;
                margin: 0;
            }
        }

        .net-price {
            margin-bottom: 25px;
        }
    }

    .purchase-container {
        @media (max-width: $tablet-max) {
            grid-row: 4;

            &.with-threshold {
                grid-row: 5;
            }
        }

        .purchase-details {
            padding: 25px 25px 10px 25px;
            background: $purchase-section-bg;
            border: 1px solid $border-color;
            position: relative;
            align-self: start;

            @media (max-width: $tablet-max) {
                padding: 10px;
                border-left: 0;
                border-right: 0;
            }

            .adding-form {
                margin-top: 20px;
                margin-bottom: 20px;

                @media (max-width: $tablet-max) {
                    width: 100%;
                    /*float: left;*/
                    margin: 0;
                }

                .choose-cart {
                    width: 100px;

                    @media (max-width: $tablet-max) {
                        width: 140px;
                    }
                }

                .to-store {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    font-size: 0.8em;

                    @media (max-width: $tablet-max) {
                        width: 100%;
                        font-size: 0.7em;
                    }

                    .choose-store {
                        width: 100px;
                        margin-right: 10px;

                        @media (max-width: $tablet-max) {
                            width: 140px;
                        }

                        .value {
                            border: 1px solid $store-border;
                            height: 35px;
                        }

                        .create-new-store-option {
                            font-weight: 600;
                        }
                    }

                    .add-to-store {
                        display: flex;
                        align-items: center;
                        color: $primary-color;

                        &:hover {
                            cursor: pointer;
                        }

                        .ti-clipboard {
                            font-size: 1.5em;
                            margin: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .price-value {
                font-size: 32px;
                line-height: 1em;

                @media (max-width: $tablet-max) {
                    font-size: 18px;
                }
            }

            .unit-group {
                .app-select {
                    @media (min-width: $tablet-max + 1) {
                        min-width: 115px;
                    }
                }
            }
        }
    }

    .brutto-netto {
        text-align: right;
    }

    .amount-grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-column-gap: 15px;
        grid-row-gap: 5px;

        @media (max-width: $tablet-max) {
            grid-template-columns: max-content 1fr;
        }
    }

    .app-stepper,
    .unit-group,
    .replacement-quantity__stepper,
    .replacement-quantity__unit-group {
        grid-row: 2;
    }

    .details {
        display: flex;
        margin-left: auto;
        position: relative;
        align-items: flex-start;

        @media (max-width: $tablet-max) {
            flex-direction: column;
            margin-top: 15px;
        }

        .stepper-group,
        .unit-group {
            @media (max-width: $tablet-max) {
                padding: 10px;
                margin: 0;
                width: 50%;
            }
        }
    }

    .top-section ~ .section:not(.replacements) {
        @media (max-width: $tablet-max) {
            font-size: 12px;
        }
    }

    .stock,
    .converter {
        white-space: nowrap;
        height: 24px;
        line-height: 24px;
        display: block;
        text-align: left;
    }

    .app-stepper .cart-id {
        margin-right: 10px;
    }

    .to-cart {
        margin-top: 15px;
        width: 100%;
    }

    .box {
        .app-stepper,
        .app-select,
        .to-cart {
            position: relative;
            z-index: 1;
        }
    }

    .all-attributes {
        position: relative;

        &__loader {
            position: absolute;
        }

        .attributes {
            grid-template-columns: max-content 1fr max-content 1fr;

            @media (max-width: $tablet-max) {
                grid-template-columns: auto auto;
            }
        }

        .attribute {
            @media (min-width: #{$tablet-max + 1}) {
                &:nth-child(8n),
                &:nth-child(8n - 1),
                &:nth-child(8n - 2),
                &:nth-child(8n - 3) {
                    background: $table-stripes-bg;
                }
            }

            @media (max-width: $tablet-max) {
                &:nth-child(4n + 1),
                &:nth-child(4n + 2) {
                    background: $table-stripes-bg;
                }
            }
        }
    }

    .replacements {
        overflow: hidden;

        .unavailable {
            margin-top: 15px;
        }

        .swiper-container {
            overflow: visible;
        }

        .slide {
            position: relative;
        }

        .app-loading {
            position: absolute;
        }

        .box {
            margin: 0 10px;
            height: 100%;
            transform: translate3d(0, 0, 0);

            @media (max-width: $tablet-max) {
                margin: 0;
                padding: 0;
            }

            .unit-group .app-select {
                @media (min-width: $tablet-max + 1) {
                    min-width: 115px;
                    z-index: 100;
                }
            }
        }

        .subsection-title {
            @media (max-width: $tablet-max) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .image-container {
            width: 300px;

            @media (max-width: $tablet-max) {
                width: 100px;
                height: 100px;
                position: absolute;
                top: 70px;
                left: 10px;
            }

            .image {
                padding: 0 20px 0 0;

                @media (max-width: $tablet-max) {
                    margin: 0;
                    padding: 0 10px 0 0;
                    max-height: 100px;
                    max-width: 100px;
                }
            }
        }

        .replacement-info {
            width: calc(100% - 300px);
            text-align: left;

            @media (max-width: $tablet-max) {
                width: 100%;
                padding: 10px;
            }
        }

        .price-value {
            font-size: 1.2rem;

            @media (max-width: $tablet-max) {
                font-size: 16px;
            }
        }

        .prices {
            @media (max-width: $tablet-max) {
                padding: 0;
            }

            .f-left,
            .f-right {
                @media (max-width: $tablet-max) {
                    text-align: right;
                    float: right;
                    width: 100%;
                }
            }
        }

        .stepper-group,
        .unit-group {
            @media (max-width: $tablet-max) {
                width: 100%;
                text-align: right;
                margin: 0;
                margin-top: 15px;
                padding-left: 100px;
            }
        }

        .unit-group {
            @media (max-width: $tablet-max) {
                margin: 5px 0;
            }
        }

        .converter {
            @media (max-width: $tablet-max) {
                position: absolute;
                right: 10px;
                width: 100px;
                white-space: normal;
                text-align: left;
                line-height: 1em;
            }
        }

        .to-cart {
            margin-top: 8px;
        }
    }

    .gallery,
    .attributes,
    .replacements,
    .attachments {
        position: relative;

        .app-loading {
            position: absolute;
        }
    }

    .app-threshold-price-list {
        @media (max-width: $tablet-max) {
            margin-bottom: -1.6em;
        }

        .app-dropdown {
            margin-bottom: 10px;

            @media (max-width: $tablet-max) {
                margin-bottom: 0;
            }
        }
    }

    .unavailable-option {
        width: 172px;
        max-width: 100%;

        &--replacement {
            margin-right: 20px;

            @media (max-width: $tablet-max) {
                margin-top: 32px;
            }
        }
    }

    .replacement-preview {
        display: flex;

        @media (max-width: $tablet-max) {
            width: 100%;
        }
    }

    .replacement-quantity {
        grid-template-columns: 1fr 1fr;

        @media (max-width: $tablet-max) {
            margin-top: 40px;
            justify-content: space-between;
        }

        &__converter {
            color: $pair-key-color;
            font-size: 13px;

            @media (max-width: $tablet-max) {
                font-size: 11px;
            }
        }
    }

    .box {
        .replacement-quantity__unit-select {
            z-index: 100;
            width: 100%;

            @media (max-width: $tablet-max) {
                z-index: 1;
            }
        }
    }

    .no-results-with-svg {
        margin: 24px;
    }

    .variants {
        @media (min-width: $laptop-min) {
            grid-column: 2 / -1;
        }

        &__details {
            @media (min-width: $laptop-min) {
                margin-bottom: 24px;
            }
        }

        .basic-details {
            @media (min-width: $laptop-min) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
