<app-menu [groupsAsDrop]="false" (toggleExternalGroups)="handleGroupsVisibility()"></app-menu>

<nav class="sidebar" *ngIf="isSidebar">

    <div class="sticky groups-wrapper" [ngClass]="{'tablet-hidden': !groupsOpened}">

        <div class="groups-wrapper">
            <button class="ti-close close tablet-block" (click)="handleGroupsVisibility(false)"></button>

            <app-groups [groupId]="treeParameters?.groupId" [parentId]="treeParameters?.parentId"
                [isProductsPage]="false">
            </app-groups>
        </div>

    </div>
</nav>


<div #container [innerHtml]="safeContent" class="clear" [ngClass]="{'full': !isSidebar}">
</div>
