<header class="main-header">

    <div *ngIf="accountService.authenticated === false && r.languages"
         class="content inner-clear languages-scroll-container">

        <div class="languages-container f-right">

            <button *ngFor="let lang of r.languages"
                    [disabled]="lang?.Id === r?.languageId"
                    class="covering-link flags-sprite flags-{{lang?.LanguageCode?.slice(0,2)}}"
                    title="{{lang?.Name}}"
                    (click)="changeLang(lang?.LanguageCode, lang?.Id)"></button>

        </div>

    </div>

    <div *ngIf="accountService.authenticated && !configService?.isMobile" class="bar top-bar inner-clear">

        <div class="content">

            <div class="supervisor bar-item f-left" *ngIf="configService?.config?.supervisor">

                <app-dropdown>

                    <trigger>
                        <i class="ti-comments"></i>
                        {{r?.translations?.supervisorContact}}
                        <i class="ti-angle-down"></i>
                    </trigger>

                    <content>

                        <app-image class="image-container f-left"
                                   [alt]="configService?.config?.supervisor"
                                   [height]="supervisorImageHeight"
                                   [width]="supervisorImageWidth"
                                   [imageData]="configService.config.supervisorImage">
                        </app-image>


                        <strong class="block f-left">
                            {{configService?.config?.supervisor}}
                        </strong>

                        <div class="contacts clear">
                            <a *ngIf="configService?.config?.supervisorEmail"
                               class="block"
                               href="mailto:{{configService?.config?.supervisorEmail}}">
                                <i class="ti-email"></i>
                                {{configService?.config?.supervisorEmail}}
                            </a>

                            <a *ngIf="configService?.config?.supervisorTelephone"
                               class="block"
                               href="tel:{{configService?.config?.supervisorTelephone}}">
                                <i class="ti-headphone-alt"></i>
                                {{configService?.config?.supervisorTelephone}}
                            </a>
                        </div>

                    </content>

                </app-dropdown>
            </div>


            <div class="f-right">

                <div class="limit bar-item" *ngIf="creditInfo">
                    {{r?.translations?.assignedCustomerLimit}}:
                    <ng-container *ngIf="creditInfo?.existsUnlimitedCreditLimit; else assignedCustomerLimit">
                        {{r?.translations?.unlimitedCreditLimit}}
                    </ng-container>
                </div>

                <div class="limit bar-item" *ngIf="creditInfo && !creditInfo.existsUnlimitedCreditLimit">
                    {{r?.translations?.customerLimit}}:
                    <ng-container *ngIf="creditInfo?.existsUnlimitedCreditLimit; else customerLimit">
                        {{r?.translations?.unlimitedCreditLimit}}
                    </ng-container>
                </div>

                <div class="payments bar-item inner-clear" *ngIf="creditInfo?.overDuePayments">
                    <div class="f-left">{{r?.translations?.overduePayments}}:</div>

                    <div class="f-right">
                        <div>
                            <i class="ti-alert danger" *ngIf="creditInfo.overDuePayments > 0"></i>
                            <span [ngClass]="{'danger': creditInfo.overDuePayments > 0}">
                                {{creditInfo?.overDuePayments | toPrice }}
                            </span>
                            {{configService?.config?.customerCurrency}}
                        </div>
                    </div>
                </div>

                <div class="bar-item">
                    <i class="ti-briefcase"></i>

                    <span>{{creditInfo?.customer}}</span>
                </div>

                <div class="bar-item">
                    <i class="ti-lock"></i>
                    <span>{{creditInfo?.contact}}</span>
                </div>

                <div class="bar-item">
                    <button class="pure" (click)="logOut()">
                        <i class="ti-power-off"></i>
                        <span>{{r?.translations?.logout}}</span>
                    </button>
                </div>
            </div>

        </div>

    </div>

    <div class="bar middle-bar inner-clear">

        <div class="content flex space-between align-items-center">

            <a class="bar-item block navBar-logo" [routerLink]="menuService.routePaths.home">
                <img src="/ClientApp/assets/images/logo.svg" alt="{{r?.translations?.productName}}" />
            </a>

            <div class="bar-item access" *ngIf="accountService.authenticated ===  false">
                <i class="ti-lock"></i>
                {{r?.translations?.authenticatedUsersOnly}}
            </div>

            <ng-container *ngIf="accountService.authenticated">

                <div class="bar-item search-bar">

                    <form *ngIf="configService?.permissions?.hasAccessToArticleList"
                          #searchForm="ngForm"
                          role="search"
                          [attr.aria-label]="r?.translations?.searchItem"
                          (ngSubmit)="search(searchForm.valid, searchForm.value)">

                        <app-floating-label-input [type]="'search'"
                                                  [(ngModel)]="searchValue"
                                                  name="searchPhrase"
                                                  (keyup)="searchInputKeyPress($event)"
                                                  [minlength]="2"
                                                  [ariaLabel]="r?.translations?.enterThePhrase"
                                                  [required]="true"
                                                  [autocompleteConfig]="autocompleteConfig"
                                                  (autocompleteOptionSelected)="onSelectSuggestion($event)">
                            {{r?.translations?.searchItem}}
                        </app-floating-label-input>

                        <button class="search-button pure ti-search" [attr.aria-label]="r?.translations?.searchItem"></button>

                        <span class="validation-error danger"
                              *ngIf="onlySpacesInSearchForm && searchForm?.controls?.searchPhrase?.value?.length > 0">
                            {{r?.translations?.searchErrorOnlySpaces}}
                        </span>

                        <span class="validation-error danger"
                              *ngIf="searchForm?.invalid && searchForm?.dirty && searchForm?.controls?.searchPhrase?.value?.trim()?.length > 0">
                            {{r?.translations?.searchErrorMsgTooShortPhrase}}
                        </span>
                    </form>
                </div>

                <!-- PG
                    <a class="button outline box-link pending" *ngIf="pendingMenuItem" [routerLink]="[pendingMenuItem.url]" routerLinkActive="active">
                    <i class="navBar-item-image ti-package {{pendingMenuItem.cssClass}}"></i>
                    <p class="box-label">{{r?.translations[pendingMenuItem?.resourceKey]}}</p>
                </a>
                PG -->

                <div class="profile-menu-adapter" *ngIf="configService?.permissions?.hasAccessToProfile">

                    <a class="button outline box-link profile"
                       [routerLink]="menuService.routePaths.profile"
                       routerLinkActive="active"
                       [ngClass]="{'inactivate': isProfileInactive}">
                        <i class="ti-user"></i>
                        <p class="box-label">{{r?.translations?.customerProfile}}</p>
                    </a>

                    <app-dropdown *ngIf="configService?.isMobile" class="profile-drop">

                        <trigger class="profile-menu-trigger outline box-link profile middle-bar">
                            <i class="ti-user icon"></i>
                        </trigger>

                        <content>

                            <div class="title-bar app-menu">
                                <div class="title-label active-top">{{r?.translations?.customerProfile}}</div>
                            </div>

                            <div class="overflow-container clear">

                                <app-profile-menu class="filters-section clear"></app-profile-menu>

                            </div>

                            <div class="static-container">

                                <button class="menu-item pure" (click)="logOut()">
                                    <i class="ti-power-off navBar-item-image"></i>
                                    <span>{{r?.translations?.logout}}</span>
                                </button>

                                <div class="menu-item credit-info">

                                    <div class="limit" *ngIf="creditInfo">
                                        <small class="block">
                                            {{r?.translations?.assignedCustomerLimit}}:
                                        </small>
                                        <ng-container *ngIf="creditInfo?.existsUnlimitedCreditLimit; else assignedCustomerLimit">
                                            {{r?.translations?.unlimitedCreditLimit}}
                                        </ng-container>
                                    </div>

                                    <div class="limit" *ngIf="creditInfo">
                                        <small class="block">
                                            {{r?.translations?.customerLimit}}:
                                        </small>
                                        <ng-container *ngIf="creditInfo?.existsUnlimitedCreditLimit; else customerLimit">
                                            {{r?.translations?.unlimitedCreditLimit}}
                                        </ng-container>
                                    </div>

                                    <div class="payments" *ngIf="creditInfo?.overDuePayments">
                                        <small class="block">
                                            {{r?.translations?.overduePayments}}:
                                        </small>

                                        <div class="f-right">
                                            <div>
                                                <i class="ti-alert danger" *ngIf="creditInfo.overDuePayments > 0"></i>
                                                <span [ngClass]="{'danger': creditInfo.overDuePayments > 0}">
                                                    {{creditInfo?.overDuePayments | toPrice }}
                                                </span>
                                                {{configService?.config?.customerCurrency}}
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <app-collapser class="supervisor menu-item" *ngIf="configService?.config?.supervisor">

                                    <trigger class="flex align-items-center menu-item">
                                        <i class="navBar-item-image ti-comments"></i>
                                        <span>{{r?.translations?.supervisorContact}}</span>
                                        <i class="ti-angle-down arrow"></i>
                                    </trigger>

                                    <collapsing>

                                        <app-image class="image-container f-left"
                                                   [alt]="configService?.config?.supervisor"
                                                   [height]="supervisorImageHeight"
                                                   [width]="supervisorImageWidth"
                                                   [imageData]="configService.config.supervisorImage">
                                        </app-image>

                                        <div class="f-left">
                                            <strong class="block">{{configService?.config?.supervisor}}</strong>

                                            <a *ngIf="configService?.config?.supervisorEmail"
                                               class="block"
                                               href="mailto:{{configService?.config?.supervisorEmail}}">
                                                <i class="ti-email"></i>
                                                {{configService?.config?.supervisorEmail}}
                                            </a>

                                            <a *ngIf="configService?.config?.supervisorTelephone"
                                               href="tel:{{configService?.config?.supervisorTelephone}}">
                                                <i class="ti-headphone-alt"></i>
                                                {{configService?.config?.supervisorTelephone}}
                                            </a>

                                        </div>
                                    </collapsing>

                                </app-collapser>
                            </div>

                        </content>
                    </app-dropdown>

                </div>

                <a class="button outline box-link" [routerLink]="[menuService.routePaths.store]" routerLinkActive="active" *ngIf="configService?.permissions?.hasAccessToStore">
                    <i class="ti-clipboard"></i>
                    <p class="box-label">{{r?.translations?.stores}}</p>
                </a>

                <div *ngIf="configService?.permissions?.hasAccessToCart">

                    <ng-container *ngIf="configService?.isOnline || carts?.carts?.size > 0; else browserOffline">

                        <app-dropdown class="f-right carts-section"
                                      [isOpen]="cartListDisplay">

                            <trigger class="user-cart"
                                     [ngClass]="{'many-currencies' : carts?.summariesByCurrency?.size}">

                                <small class="carts-amount f-left">
                                    {{r?.translations?.carts}}: {{carts.cartsAmount}}
                                </small>

                                <div class="cart-icon-container f-right">
                                    <span class="products-amount">{{carts.totalProductsAmount}}</span>
                                    <i class="ti-shopping-cart cart-icon"></i>
                                </div>

                                <ng-container *ngIf="configService?.permissions?.hasAccessToPriceList && carts?.summariesByCurrency">
                                    <div class="summary clear" *ngFor="let summary of carts.summariesByCurrency | iterableToArray">
                                        <div>{{summary[1].totalNetAmount | toPrice }} <small>{{summary[0]}}</small></div>
                                    </div>
                                </ng-container>
                            </trigger>

                            <content *ngIf="configService.isOnline || (!configService.isOnline && carts.carts.size > 0)">

                                <p class="cart-empty" *ngIf="carts?.cartsAmount === 0">

                                    <i class="ti-shopping-cart"></i>
                                    {{r?.translations?.emptyCartsMessage}}

                                </p>

                                <nav *ngIf="carts?.carts && carts?.cartsAmount > 0"
                                     class="carts-list"
                                     [ngStyle]="{'paddingBottom.px': 53 * carts.summariesByCurrency.size + 30}">

                                    <ul class="inner-carts-container">
                                        <li class="cart-container hover-shadow" *ngFor="let cartPosition of carts?.carts | iterableToArray">

                                            <div class="quote-realization" *ngIf="cartPosition[1]?.currencies[0]?.fromQuote">
                                                <small>{{r?.translations?.quoteRealization}}:</small>
                                                <a class="quote-number" [routerLink]="[menuService.routePaths.quotes, cartPosition[1].currencies[0].fromQuote]">{{ cartPosition[1].currencies[0].quoteNumber }}</a>
                                            </div>

                                            <div class="cart-item">
                                                <div class="name-container"
                                                     [ngClass]="{'without-offer': !cartPosition[1]?.currencies[0]?.fromQuote}">

                                                    <div class="display-name"
                                                         (click)="onClickEditCartName(cartPosition[0])"
                                                         *ngIf="!carts?.cartPreviewExtra[cartPosition[0]]?.isNameEdited; else editCartName">
                                                        <i class="ti-pencil-alt edit-icon"></i>
                                                        {{r?.translations?.cart}}: <span class="name-value">{{cartPosition[1]?.currencies[0]?.cartName || cartPosition[0]}}</span>
                                                    </div>

                                                    <ng-template #editCartName>
                                                        <a class="ti-save save-icon" (click)="onClickSaveNewCartName(cartPosition[0], carts?.cartPreviewExtra[cartPosition[0]].newName)"></a>
                                                        <input class="cart-name-input"
                                                               type="text"
                                                               [maxlength]="maxCartNameLength"
                                                               (keyup.enter)="onClickSaveNewCartName(cartPosition[0], carts?.cartPreviewExtra[cartPosition[0]].newName)"
                                                               [(ngModel)]="carts?.cartPreviewExtra[cartPosition[0]].newName" />
                                                    </ng-template>

                                                </div>

                                                <div class="amount">
                                                    <small class="products-amount">
                                                        {{r?.translations?.packageArticlesCount}}: {{cartPosition[1].count}}
                                                    </small>
                                                </div>

                                                <div class="prices-container" *ngIf="configService?.permissions?.hasAccessToPriceList">
                                                    <div *ngFor="let item of cartPosition[1].currencies" class="currency-item">
                                                        <div class="price-value">
                                                            <div class="net" *ngIf="configService?.config?.priceMode !== 1">
                                                                {{item?.netAmount | toPrice }}
                                                            </div>
                                                            <div *ngIf="configService?.config?.priceMode !== 0">
                                                                {{item?.grossAmount | toPrice }}
                                                            </div>
                                                        </div>

                                                        <div class="currency-value">
                                                            <div class="net" *ngIf="configService?.config?.priceMode !== 1">
                                                                {{item?.currency}} <small>{{r?.translations?.net}}</small>
                                                            </div>
                                                            <div *ngIf="configService?.config?.priceMode !== 0">
                                                                {{item?.currency}} <small>{{r?.translations?.gross}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="options">
                                                <button (click)="showConfirmModal(cartPosition[0], cartPosition[1]?.currencies[0]?.cartName)"
                                                        [disabled]="!configService.isOnline" class="remove">
                                                    <i class="ti-trash"></i>
                                                    {{r?.translations?.remove}}
                                                </button>
                                                <a class="button cart" [routerLink]="[menuService.routePaths.cart, cartPosition[0]]">
                                                    <i class="ti-bag"></i> {{r?.translations?.toCart}}
                                                </a>

                                            </div>

                                        </li>
                                    </ul>
                                </nav>

                                <div class="drop-summary"
                                     *ngIf="carts?.carts && carts?.cartsAmount > 0"
                                     [ngStyle]="{'height.px': 53 * carts?.summariesByCurrency?.size + 30}">

                                    <div class="total-container">
                                        <p>{{r?.translations?.total}}</p>
                                        <small class="products-amount">{{r?.translations?.packageArticlesCount}}: {{carts.totalProductsAmount}}</small>
                                    </div>

                                    <div class="prices-container">
                                        <div class="currency-item"
                                             *ngFor="let summary of carts.summariesByCurrency | iterableToArray"
                                             [ngStyle]="{'height.px': 53}">
                                            <div class="price-value">
                                                <div class="net">
                                                    {{summary[1].totalNetAmount | toPrice }}
                                                </div>
                                                <div>
                                                    {{summary[1].totalGrossAmount | toPrice }}
                                                </div>
                                            </div>

                                            <div class="currency-value">
                                                <div class="net">
                                                    {{summary[0]}} <small>{{r?.translations?.net}}</small>
                                                </div>
                                                <div>
                                                    {{summary[0]}} <small>{{r?.translations?.gross}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </content>
                        </app-dropdown>

                        <app-modal class="confirm-remove-modal"
                                   *ngIf="configService.isOnline"
                                   [isOpened]="removeConfirmModal.visibility"
                                   [autoClose]="false"
                                   (close)="closeModal()">

                            <p>{{r?.translations?.removeDialogMessage}} {{r?.translations?.cart?.toLowerCase()}}: <strong>{{removeConfirmModal?.cart?.cartName || removeConfirmModal?.cart?.cartId}}</strong></p>

                            <button (click)="carts.removeCart(removeConfirmModal.cart.cartId); closeModal();">{{r?.translations?.dialogYes}}</button>
                            <button class="pure" (click)="closeModal()">{{r?.translations?.dialogNo}}</button>

                        </app-modal>

                    </ng-container>


                    <ng-template #browserOffline>
                        <trigger class="user-cart block unavailable">

                            <small class="carts-amount f-left">
                                {{r?.translations?.carts}}: {{carts.cartsAmount}}
                            </small>

                            <div class="cart-icon-container f-right">
                                <span class="products-amount">{{carts.totalProductsAmount}}</span>
                                <i class="ti-shopping-cart cart-icon"></i>
                            </div>

                            <span class="f-left msg">
                                {{r.translations.cartUnavailableOffline}}
                            </span>

                        </trigger>
                    </ng-template>
                </div>

            </ng-container>

        </div>
    </div>
    <ng-template #assignedCustomerLimit>
        {{creditInfo?.assignedCustomerLimit | toPrice }}
        {{configService?.config?.customerCurrency}}
    </ng-template>

    <ng-template #customerLimit>
        <i class="ti-alert danger" *ngIf="creditInfo?.customerLimit < 0"></i>
        <span [ngClass]="{'danger': creditInfo?.customerLimit < 0}">{{creditInfo?.customerLimit | toPrice }}</span>
        {{configService?.config?.customerCurrency}}
    </ng-template>
</header>
