@import 'configuration.scss';

.app-header {
    display: block;

    p {
        margin: 0;
    }

    .languages-scroll-container {
        @media (max-width: $tablet-max) {
            overflow: auto;
            max-width: 100%;
            padding: 0;
        }
    }

    .languages-container {
        min-height: 35px;
        line-height: 1em;
        padding: 5px 0;
        max-width: 100%;
        width: 470px;
        text-align: right;

        @media (max-width: $tablet-max) {
            padding: 10px;
            margin-bottom: 10px;
            width: auto;
            overflow: auto;
            white-space: nowrap;
        }
    }

    .flags-sprite {
        margin-left: 15px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        line-height: 1em;
        border: 0;
        margin-bottom: 6px;

        @media (max-width: $tablet-max) {
            margin: 0 5px;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .app-loading {
        opacity: 1;
    }


    .top-bar {
        background: $header-top-bg;
        font-size: 0.9rem;
        min-height: 35px;

        @media (max-width: $tablet-max) {
            display: none;
        }
    }

    .middle-bar {
        padding: 10px 0;

        @media (max-width: $tablet-max) {
            padding: 0;
        }

        .content {

            @media (min-width: #{$tablet-max + 1}) {
                min-height: 100px;
            }


            @media (max-width: $tablet-max) {
                padding: 0;
                flex-wrap: wrap;
            }
        }

        i {
            font-size: 2.4em;
        }
    }

    .bar-item {
        float: left;

        &:not(.navBar-logo) {
            padding: 7px 17px;
        }

        &:not(.payments) i {
            padding-right: 5px;

            &.ti-briefcase {
                padding-right: 7px;
            }
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &.navBar-logo {
            max-width: 40%;
            margin-left: -10px;
            margin-right: 10px;
            
            @media (max-width: $tablet-max) {
                margin-right: auto;
                margin-left: 10px;
            }
        }

        .navBar-item-image {
            margin: 0;
        }

        &.search-bar {
            position: relative;
            padding: 0;
            margin: auto;
            max-width: 100%;
            z-index: 1;

            @media (max-width: $tablet-max) {
                order: 10;
                padding-left: 10px;
                width: calc(100% - #{$bar-height});
                padding: 10px 0;
                height: $bar-height;
                margin-right: 0;
            }

            form {
                @media (max-width: $tablet-max) {
                    width: 100%;
                    position: relative;
                    float: right;
                    padding-left: 10px;
                }
            }

            .app-floating-label-input {
                width: 100%;
                display: block;
            }

            input {
                padding: 15px;
                width: 500px;
                max-width: 100%;
                padding-right: 65px;
                height: 60px;
                font-size: 1rem;

                @media (max-width: $laptop-max) {
                    width: 400px;
                }

                @media (max-width: $tablet-max) {
                    height: $bar-height - 20px;
                    width: calc(100% - 60px);
                    padding: 0 10px;
                    border: 0;
                }
            }

            .search-button {
                position: absolute;
                right: 0;
                top: -10px;
                bottom: -10px;
                width: 60px;
                height: auto;
                font-size: 20px;
            }

            .validation-error {
                display: block;
                position: absolute;
                background-color: #fff;
            }
        }
    }

    .payments {
        text-align: right;
    }

    .app-dropdown .outside {
        z-index: 500;
    }


    .dropdown-window {
        color: $content-fcolor;

        i {
            font-size: inherit;
        }
    }

    .supervisor {

        .contacts {
            padding-top: 20px;
        }

        trigger,
        trigger.menu-item {
            color: $primary-color;
            padding: 0 20px;

            @media (max-width: $tablet-max) {
                padding: 0;
            }
        }

        .image-container {
            margin-right: 20px;
        }

        i {
            vertical-align: middle;
        }

        .no-photo {
            font-size: 50px;
        }

        strong,
        a {
            margin-bottom: 5px;
        }

        .with-photo {
            width: calc(100% - 120px);
            word-break: break-word;
        }

        .dropdown-window {
            padding-top: 25px;
            min-width: 350px;
        }

        .content-container {
            padding: 20px;

            @media (max-width: $tablet-max) {
                padding-top: 0;
            }
        }

        .menu-item {

            &:hover {
                background: none;
            }

            a {
                padding: 0;
                margin: 0;
                border: 0;
                line-height: 1.5em;
                color: $linksColor;
            }
        }
    }


    .box-link {
        padding: 10px;
        text-align: center;
        margin-right: 30px;
        font-size: 0.8em;
        border: none;
        border: none !important;

        @media (max-width: $tablet-max) {
            margin-right: 0;
            padding: 14px 8px;
            height: $bar-height;
        }

        .box-label {
            margin-top: 14px;
        }

        &.active:not(.inactivate) {
            background: $primary-color;
            color: $fcolor-for-primary;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 98%;
                height: 80%;
                left: 0;
                background: inherit;
                right: 0;

                @media (max-width: $tablet-max) {
                    display: none;
                }
            }
        }

        &.inactivate {
            box-shadow: none;
        }
    }

    .access {
        @media (max-width: $tablet-max) {
            margin: 10px 0;
            padding: 10px !important;
        }


        @media (min-width: #{$tablet-max + 1}) {
            margin-left: auto;
        }

        i {
            @media (max-width: $tablet-max) {
                font-size: 1.5em;
                padding: 0;
            }
        }
    }


    .user-cart {
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: 10px;
        text-align: right;
        min-width: 190px;
        line-height: 1em;
        min-height: 80px;
        transition-duration: $little-transitions-time;
        transition-property: color, border-color, background-color;


        @media (max-width: $tablet-max) {
            min-width: 0;
            border: 0;
            min-height: 0;
        }


        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }

        &.cart-page {
            border: 0;

            &,
            &:hover {
                color: $primary-color;
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                top: 0;
                bottom: -50%;
                z-index: -1;
                position: absolute;
                left: 0;
                background: $cart-box;
                transition: background-color $little-transitions-time;
            }

            &:hover::after {
                background: $cart-box-hover;
            }
        }


        &.unavailable {
            color: $disabled-button-fcolor;
            border-color: $disabled-button-fcolor;
            cursor: not-allowed;

            @media (max-width: $mobile-max) {
                margin-top: -5px;
            }

            .carts-amount,
            .products-amount {
                display: none;
            }

            .cart-icon {
                display: inline-block;
                padding: 5px 0 0;
            }
        }


        .cart-icon-container {
            position: relative;
            display: inline-block;

            @media (max-width: $tablet-max) {
                float: none;
            }

            .cart-icon {
                font-size: 40px;
            }

            .products-amount {
                position: absolute;
                top: 0;
                left: 0;
                position: absolute;
                top: 0;
                left: -0.5em;
                background: $products-amount-bg;
                color: $products-amount-text;
                width: 1.6em;
                text-align: center;
                font-size: 0.7rem;
                border-radius: 1.2em;
                line-height: 1.6em;
                font-weight: 600;
            }
        }

        &:not(.many-currencies) {
            .summary {
                font-size: 24px;
            }
        }

        .msg {
            width: 135px;
            text-align: left;
            line-height: 1.3em;
            font-size: 15px;
            padding-right: 10px;

            @media (max-width: $mobile-max) {
                display: none;
                visibility: hidden;
            }
        }
    }

    .carts-section {

        .carts-list {
            overflow-y: auto;

            @media (min-width: $tablet-max+1) {
                height: auto !important;
                padding-bottom: 15px !important;
            }
        }

        .inner-carts-container {
            padding: 15px;
            padding-top: 0;
        }

        .drop-summary {
            padding: 15px;
            border-top: 1px solid $border-color;
            position: fixed;
            bottom: 0;
            z-index: 5;
            background: $dropdowns-bg;
            width: 100%;
            box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: space-between;

            @media (min-width: $tablet-max+1) {
                display: none;
            }

            .total-container {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                margin-right: 10px;
            }
        }

        .dropdown-window {
            width: 340px;
            max-width: 100vw;
            right: 0;
            left: auto;
            padding: 0;
            padding-top: 55px;

            @media (max-width: $tablet-max) {
                left: 0;
                width: auto;
            }


            content {
                max-height: 50vh;
                overflow: auto;

                @media (max-width: $tablet-max) {
                    max-height: none;
                }
            }
        }
    }

    .cart-container {
        position: relative;
        border: 1px solid $border-color;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        .quote-realization {
            padding: 2px 10px;
            background: $thirdparty-light-color;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 5px;

            .quote-number {
                color: $primary-color;
                margin-left: 5px;

                &:hover {
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .cart-item {
            padding: 10px;
            padding-top: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .name-container {
                width: 100%;
                color: $primary-color;
                display: flex;
                align-items: center;
                margin-bottom: 5px;

                &.without-offer {
                    padding-top: 10px;
                }

                .display-name {
                    &:hover {
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                    }

                    .edit-icon {
                        margin-right: 5px;
                    }
                }

                .save-icon {
                    margin-right: 5px;

                    &:hover {
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
                    }
                }

                .cart-name-input {
                    height: 30px;
                    width: 100%;
                    margin-left: 5px;
                }

                .name-value {
                    font-weight: 500;
                    margin-left: 5px;
                }
            }

            .amount {
                width: fit-content;
                align-self: flex-end;
                margin-right: 10px;
            }
        }

        .options {
            display: inline-flex;
            width: 100%;

            button,
            .button {
                width: 50%;
                font-size: 0.9em;
                height: 35px;
                justify-content: center;
            }

            .button.cart .ti-bag {
                margin-right: 5px;
            }

            i {
                font-size: inherit;
            }
        }
    }

    .prices-container {
        text-align: right;

        .currency-item {
            display: flex;
            justify-content: flex-end;

            &:not(:first-child) {
                margin-top: 10px;
            }

            .currency-value {
                margin-left: 5px;
                text-align: left;
                width: fit-content;
            }
        }
    }

    .cart-empty {
        text-align: center;
        padding: 0 0 20px;

        i {
            font-size: 30px;
            vertical-align: middle;
            margin-right: 5px;
            color: $border-color;
        }
    }

    .box-label,
    .carts-amount,
    .summary {
        @media (max-width: $tablet-max) {
            display: none;
        }
    }

    .profile-menu-adapter {
        position: relative;
    }

    .profile-drop {
        position: static;
        float: left;

        @media (max-width: $tablet-max) {
            display: block;
        }

        .profile-menu-trigger {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .icon {
                display: none;
            }
        }

        &.opened .profile-menu-trigger {
            background: $primary-color;

            .icon {
                color: $fcolor-for-primary;
                display: block;
            }
        }

        .app-menu {
            position: static;
        }

        .close {
            left: 0;
            height: $bar-height;
            color: $fcolor-for-primary;
            width: $bar-height;
            position: absolute !important;

            &::before {
                content: '\e64a';
            }
        }

        .title-bar {
            background: $primary-color;
            color: $fcolor-for-primary;
            border: 0;

            .title-label {
                height: $bar-height;
                line-height: $bar-height;
                width: calc(100% - #{2*$bar-height});
                vertical-align: middle;
                margin: auto;
                text-align: center;
                background: $bar-active-bg;
                color: $bar-active-font;
                padding: 0;
            }
        }

        .dropdown-window {
            padding: 0;
            top: $bar-height;
            font-size: 18px;
        }

        content {
            display: grid !important;
            max-height: calc(100vh - 63px);
            grid-template-rows: max-content 1fr max-content;
        }

        .arrow {
            margin-left: 6px;
        }

        .app-profile-menu {
            border-top: 1px solid $border-color;
            position: static !important;
        }

        .menu-item {
            display: flex;
            border-right: 0;
            text-align: left;
            width: 100%;
            padding: 0 20px;
            justify-content: flex-start;
        }

        .credit-info {
            font-size: 14px;
            border-top: 1px solid $border-color;
            padding: 4px 20px;
            justify-content: space-between;
        }

        .overflow-container {
            overflow: auto;
        }

        .static-container {
            box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
            background: $dropdowns-bg;
            width: 100%;
            z-index: 1;
        }

        .supervisor {
            background: none;
            border-top: 1px solid $border-color;
            color: inherit;
            font-size: 14px;

            .trigger-wrapper {
                padding: 0;
            }

            .image-container {
                width: 50px;
                height: 50px;
            }

            collapsing {
                padding-bottom: 0;
            }
        }
    }
}

.with-offline-msg {

    .profile-drop {

        .dropdown-window,
        .static-container {
            bottom: $offline-message-height;
        }
    }
}


.confirm-remove-modal {
    font-size: 18px;

    button:not(.close) {
        margin: 20px 10px 0;
    }
}
