<label [ngClass]="{'disabled': disabled}">
    <input type="radio"
           [attr.aria-label]="ariaLabel"
           [attr.aria-labelledby]="ariaLabel ? null : name + '-' + value + '-label'"
           name="{{name}}"
           [required]="required"
           [disabled]="disabled"
           [value]="value"
           [tabindex]="checked || (value === selectedValue) ? 0 : -1"
           [checked]="checked || (value === selectedValue)"
           (change)="changeMiddleware($event.target.value)">

    <span class="dot" [ngClass]="{'checked': checked || (value === selectedValue)}" aria-hidden="true"></span>
    <span class="label" [id]="name + '-' + value + '-label'">
        <ng-content></ng-content>
    </span>

</label>
