<app-menu *ngIf="backMenuItem" [menuItems]="[backMenuItem]">
    <div class="menu-item active-top cart-menu-item ">
        <span>{{ r?.translations?.selectedCart }}: <strong>{{ cartService?.cartName || cartId }}</strong></span>
    </div>
</app-menu>

<div class="summary">
    <span class="summary-title summary-header">{{ r?.translations?.thankYouMessage }}</span>
    <span class="summary-title">{{ r?.translations?.cartServiceEmailMessage }}</span>
    <div class="summary-table">
        <div class="summary-section">
            <div class="summary-row">
                <span class="summary-label">{{ r?.translations?.orderNumber }}</span>
                <span class="summary-data">
                    <a *ngIf="configService.permissions.hasAccessToOrdersList"
                       [routerLink]="[menuService.routePaths.orders, orderId]">{{ cartService?.orderNumber }}</a>
                    <ng-container *ngIf="!configService.permissions.hasAccessToOrdersList">{{ cartService?.orderNumber }}</ng-container>
                </span>
            </div>
            <div class="summary-row">
                <span class="summary-label">{{ r?.translations?.date }}</span>
                <span class="summary-data">{{ date }}</span>
            </div>
            <div class="summary-row" *ngIf="state">
                <span class="summary-label">{{ r?.translations?.orderState }}</span>
                <span class="summary-data">{{ state }}</span>
            </div>
            <div class="summary-row">
                <span class="summary-label">{{ r?.translations?.packageArticlesCount }}</span>
                <span class="summary-data"> {{ productsCount }}</span>
            </div>
        </div>

        <div class="summary-section" *ngIf="configService?.permissions?.hasAccessToPriceList">

            <div class="summary-row inner-clear">
                <span class="summary-label">{{ r?.translations?.subtotalOrderValue }}</span>
                <span class="summary-data summary-highlight f-right"
                      *ngFor="let paymentDetails of cartService?.cartProductsSummaries">
                    {{ paymentDetails?.netAmount | toPrice }} {{ paymentDetails?.currency }}
                </span>
            </div>
            <div class="summary-row inner-clear">
                <span class="summary-label">{{ r?.translations?.totalOrderValue }}</span>
                <span class="summary-data f-right"
                      *ngFor="let paymentDetails of cartService?.cartProductsSummaries">
                    {{ paymentDetails?.grossAmount | toPrice }} {{ paymentDetails?.currency }}
                </span>
            </div>
            <div class="summary-row inner-clear">
                <span class="summary-label">{{ r?.translations?.vatValue }}</span>
                <span class="summary-data f-right" *ngFor="let paymentDetails of cartService?.cartProductsSummaries">
                    {{ paymentDetails?.vatValue | toPrice }} {{ paymentDetails?.currency }}
                </span>
            </div>
        </div>

        <div class="summary-section" *ngIf="configService?.permissions?.hasAccessToPriceList && cartService?.delivery">

            <div class="summary-row inner-clear">
                <span class="summary-label">{{ r?.translations?.deliveryCost }} {{r?.translations?.netHeader.toLowerCase()}}</span>
                <span class="summary-data summary-highlight  f-right">
                    {{ cartService?.delivery?.netAmount }} {{ cartService?.delivery?.currency }}
                </span>
            </div>
            <div class="summary-row inner-clear">
                <span class="summary-label">{{ r?.translations?.deliveryCost }} {{r?.translations?.grossHeader.toLowerCase()}}</span>
                <span class="summary-data f-right">
                    {{ cartService?.delivery?.grossAmount }} {{ cartService?.delivery?.currency }}
                </span>
            </div>
        </div>

        <div class="summary-section" *ngIf="configService?.permissions?.hasAccessToPriceList">
            <div class="summary-row inner-clear">
                <span class="summary-label">{{ r?.translations?.totalToPay }}</span>
                <span class="summary-data f-right"
                      *ngFor="let paymentDetails of cartService?.summaries">
                    {{ paymentDetails?.grossAmount | toPrice }} {{ paymentDetails?.currency }}
                </span>
            </div>
        </div>
    </div>
    <span class="summary-title">{{ r?.translations?.seeYouAgain }}</span>
</div>
