.app-cart-select {
    width: 100px;
    height: 40px;

    .app-select {
        width: inherit;
        height: inherit;
        display: inherit;

        .value {
            border: 1px solid #006547;
            height: inherit;
        }
    }

    .create-new-cart-option {
        font-weight: 600;
    }
}
