<app-select [(ngModel)]="cartId"
            (open)="onOpenSelect()"
            required
            (ngModelChange)="onChangeValue($event)"
            [disabled]="disabled"
            [name]="name"
            [alwaysRefreshLabel]="true">

    <ng-container *ngIf="availableCartsStatus">
        <app-option *ngFor="let availableCart of availableCartsStatus.availableCarts"
                    [value]="availableCart.cartId">
            {{availableCart.cartName || availableCart.cartId}}
        </app-option>
        <app-option [value]="-1"
                    class="create-new-cart-option"
                    *ngIf="availableCartsStatus.isPermissionToCreateNewCart">
            {{r.translations?.newCart}}
        </app-option>
    </ng-container>

</app-select>
