<div class="wrapper" *ngIf="value !== undefined">
    
    <small *ngFor="let bit of bitwiseTrues"
           class="flag"
           [ngSwitch]="bit"
           [ngClass]="{
            'news': bit === 2,
            'promotion': bit === 4,
            'from-newsletter': bit === 8,
            'recommended': bit === 16,
            'sale': bit === 32,
            'great-quality': bit === 64,
            'great-price': bit === 128,
            'top-rated': bit === 256,
            'seller-recommendation': bit === 512
           }">

        <ng-container *ngSwitchCase="2">{{r?.translations?.articleFlagNews}}</ng-container>
        <ng-container *ngSwitchCase="4">{{r?.translations?.articleFlagPromotion}}</ng-container>
        <ng-container *ngSwitchCase="8">{{r?.translations?.articleFlagFromNewsletter}}</ng-container>
        <ng-container *ngSwitchCase="16">{{r?.translations?.articleFlagRecommended}}</ng-container>
        <ng-container *ngSwitchCase="32">{{r?.translations?.articleFlagSale}}</ng-container>
        <ng-container *ngSwitchCase="64">{{r?.translations?.articleFlagGreatQuality}}</ng-container>
        <ng-container *ngSwitchCase="128">{{r?.translations?.articleFlagGreatPrice}}</ng-container>
        <ng-container *ngSwitchCase="256">{{r?.translations?.articleFlagTopRated}}</ng-container>
        <ng-container *ngSwitchCase="512">{{r?.translations?.articleFlagSellerReccomendation}}</ng-container>

    </small>

</div>
