<ng-container *ngIf="products">

    <div class="articles" *ngIf="products.length > 0; else noProducts">

        <div class="thead sticky">

            <div class="narrow-content trow flex" *ngIf="r?.translations">

                <div class="tcell {{col.property}}-col" *ngFor="let col of columns; trackBy: trackByFn"
                    [ngSwitch]="col.type" [ngClass]="{'with-stepper': col.type === 'quantityWithStepper'}"
                    [ngStyle]="{'width.%': 100/columns.length}">


                    <ng-container *ngSwitchCase="'addToCart'">
                        <form class="flex" #addManyForm="ngForm" novalidate name="addManyForm"
                            (ngSubmit)="addToCart(addManyForm?.value?.cartId)">

                            <app-cart-select name="cartId" ngModel [disabled]="!configService?.isOnline">
                            </app-cart-select>

                            <button class="cart add-to-cart" [disabled]="disabled">
                                <i class="icon ti-shopping-cart"></i><span>{{r?.translations?.addToCart}}</span>
                            </button>
                        </form>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        {{r?.translations[col.translation || col.property]}}
                    </ng-container>
                </div>

            </div>
        </div>


        <div class="narrow-content tbody" #productsGroup ngModelGroup="productsGroup">

            <div class="trow"
                [attr.data-no-discount]="product.discountAllowed === false ? r.translations?.noDiscount : null"
                *ngFor="let product of products; let i = index; trackBy: trackByFn" [ngClass]="{'stock-warn': product.warn,
                        'forbidden': product.forbidden,
                        'status-warning': product.status?.warning,
                        'status-danger': product.status?.danger,
                        'status-outdated': product.status?.outdated,
                        'status-info': product.status?.info}">

                <ng-container
                    *ngIf="configService?.permissions?.hasAccessToArticleList && product?.itemExistsInCurrentPriceList !== 0 && (product.id || product.itemId)">

                    <a *ngIf="product.promotionPositionType === 1; else singleProduct"
                        [routerLink]="[menuService.routePaths.items, getItemId ? getItemId(product) : product.itemId || product.id]"
                        class="covering-link">
                    </a>

                    <ng-template #singleProduct>
                        <a *ngIf="product.itemExistsInCurrentPriceList !== 0"
                            [routerLink]="[menuService.routePaths.itemDetails, getItemId ? getItemId(product) : product.itemId || product.id]"
                            class="covering-link">
                        </a>
                    </ng-template>

                </ng-container>

                <div class="flex row" [class.with-button]="config?.haveBottomButton">
                    <div class="tcell {{col.property}}-col" *ngFor="let col of columns; trackBy: trackByFn"
                        [class.with-stepper]="col.type === 'quantityWithStepper'"
                        [class.without-covering-link]="config?.onlyNameLinksToProductsDetails && col.type !== 'productName'"
                        [ngClass]="product[col.property] === col?.classCondition?.valueEquals ? col.classCondition.class : ''"
                        [ngStyle]="{'width.%': 100/columns.length }" [ngSwitch]="col.type"
                        [attr.data-mobile-label]="r?.translations[col.translation || col.property] ? r?.translations[col.translation || col.property] + ':' : null">
                        <!-- <div>
                            {{col | json}}
                        </div> -->
                        <button *ngSwitchCase="'remove'" class="pure remove-item" [disabled]="disabled"
                            (click)="removeItemMiddleware(product.itemId, product.no)">

                            <i class="ti-trash"></i>
                            <span class="tablet-inline-block">{{r?.translations?.remove}}</span>
                        </button>

                        <div *ngSwitchCase="'productName'" class="product-grid grid">

                            <app-image class="product-image" [alt]="product.name" [height]="product.imageHeight"
                                [width]="product.imageWidth" [imageData]="product.image">
                            </app-image>
                            <!-- <div>
                                Produkt {{product | json}}
                            </div> -->
                            <div class="product-desc">
                                <span class="product-name block">{{product.name}}</span>
                                <span class="product-code" *ngIf="config.showCode">{{product.code}}</span>
                                <div class="product-attributes" *ngIf="product.attributes?.length > 0">
                                    <span class="product-attribute" *ngFor="let attribute of product.attributes">
                                        <span
                                            class="product-attribute__item product-attribute__item--name">{{attribute.translatedName}}:
                                        </span>
                                        <span class="product-attribute__item">{{attribute.values | join}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngSwitchCase="'productNameWithoutPhoto'">

                            <span class="product-name block">{{product.name}}</span>
                            <span class="product-code" *ngIf="config.showCode">{{product.code}}</span>

                        </ng-container>

                        <ng-container *ngSwitchCase="'priceWithConverter'">
                            {{product[col.property] | toPrice}}
                            <span class="tablet-inline-block">{{product.currency}}</span>

                            <small class="pair-key converter" *ngIf="product[col.priceConverter]">
                                {{product[col.priceConverter] | toPrice}}/{{product.basicUnit}}
                            </small>
                        </ng-container>


                        <ng-container *ngSwitchCase="'quantity'">

                            {{product.quantity}} <span class="unit pair-key">{{product.auxiliaryUnit ||
                                product.basicUnit || product.unit}}</span>

                            <div class="converter pair-key">
                                {{product.converter || product.unitConversion}}
                            </div>

                        </ng-container>

                        <ng-container *ngSwitchCase="'quantityWithStepper'">

                            <app-stepper *ngIf="product.status !== 3" class="responsive"
                                [disabled]="product.disabled || config.quantityDisabled || product.forbidden || disabled"
                                [isUnitTotal]="product.isUnitTotal" [name]="'quantity'+i" [value]="product.quantity"
                                [max]="product.max || -1" (changeValue)="changeQuantityMiddleware(i, $event)">

                            </app-stepper>

                            <div class="unavailable button outline"
                                *ngIf="product.status === 3 && product.itemExistsInCurrentPriceList !== 0">
                                {{r?.translations?.articleStateUnavailable}}
                            </div>

                            <div class="unavailable button outline"
                                *ngIf="product.status === 3 && product.itemExistsInCurrentPriceList === 0">
                                {{r?.translations?.notInPriceList}}
                            </div>

                            <div class="inline-block vmiddle">

                                <span class="unit pair-key">{{product.auxiliaryUnit || product.basicUnit ||
                                    product.unit}}</span>

                                <span class="converter pair-key">
                                    {{product.converter || product.unitConversion}}
                                </span>
                            </div>

                            <div class="stock"
                                *ngIf="config.showState && product.stockLevel && product.type !== 3 && product.type !== 4 && product.type !== 6">

                                <span class="pair-key">{{r?.translations?.inStock}}:</span>
                                <span *ngIf="config.stateMode === true && product.stockLevelNumber > 99">
                                    dużo
                                    <img src="/ClientApp/assets/images/availability/qty_max.png"></span>
                                <span
                                    *ngIf="config.stateMode === true && product.stockLevelNumber > 49 && product.stockLevelNumber  < 100">średnio
                                    <img src="/ClientApp/assets/images/availability/qty_med.png"></span>
                                <span
                                    *ngIf="config.stateMode === true && product.stockLevelNumber > 9 && product.stockLevelNumber  < 50">mało
                                    <img src="/ClientApp/assets/images/availability/qty_low.png"></span>
                                <span
                                    *ngIf="config.stateMode === true && product.stockLevelNumber > 4 && product.stockLevelNumber  < 10">poniżej
                                    10 <img src="/ClientApp/assets/images/availability/qty_low.png"></span>
                                <span
                                    *ngIf="config.stateMode === true && product.stockLevelNumber > 0 && product.stockLevelNumber  < 5">poniżej
                                    5 <img src="/ClientApp/assets/images/availability/qty_low.png"></span>
                                <span *ngIf="config.stateMode === true && product.stockLevelNumber  === 0">brak
                                    <img src="/ClientApp/assets/images/availability/qty_tel.png"></span>
                            </div>


                        </ng-container>


                        <ng-container *ngSwitchCase="'unit'">

                            <span>{{product.auxiliaryUnit || product.basicUnit || product.unit}}</span>
                            <span class="block">{{product.converter || product.unitConversion}}</span>

                        </ng-container>


                        <div *ngSwitchCase="'html'" [innerHTML]="product[col.property]">
                        </div>


                        <ng-container *ngSwitchCase="'promotionValue'">

                            <!--<span class="tablet-inline-block" *ngIf="r?.translations">{{r?.translations[col[1]]}}: </span>-->
                            <span *ngIf="product.type === 1">{{product.value}} %</span>
                            <span
                                *ngIf="configService.permissions.hasAccessToPriceList && (product.type === 2 || product.type === 3)">
                                {{product.value}} {{product.currency}}
                            </span>
                        </ng-container>

                        <ng-container *ngSwitchCase="'cases'">
                            <ng-container *ngFor="let case of col.cases">
                                <ng-container *ngIf="case.case === product[col.property]">
                                    {{r?.translations[case.translation]}}
                                </ng-container>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngSwitchCase="'addToCart'">

                            <ng-container *ngIf="product.promotionPositionType !== 1">

                                <ng-container *ngIf="product.status !== 3; else unavailable">

                                    <div class="converter pair-key" *ngIf="product.converter || product.unitConversion">
                                        {{product.converter || product.unitConversion}}
                                    </div>

                                    <app-stepper class="responsive" [isUnitTotal]="product.isUnitTotal"
                                        [disabled]="(product.setDocumentsType < 2 && product.bundleId !== null) || product.disabled || config.quantityDisabled || product.forbidden || disabled"
                                        [name]="'quantity'+i" [value]="product.quantity" [min]="0"
                                        (changeValue)="changeQuantityMiddleware(i, $event)">

                                    </app-stepper>
                                </ng-container>


                                <ng-template #unavailable>
                                    <div class="unavailable button outline"
                                        *ngIf="product.itemExistsInCurrentPriceList !== 0">
                                        {{r?.translations?.articleStateUnavailable}}
                                    </div>

                                    <div class="unavailable button outline"
                                        *ngIf="product.itemExistsInCurrentPriceList === 0">
                                        {{r?.translations?.notInPriceList}}
                                    </div>
                                </ng-template>

                                <ng-container *ngIf="product.status !== 3">

                                    <div class="inline-block vmiddle">


                                        <span class="unit pair-key"
                                            *ngIf="!product?.units || product?.units?.size === 1">
                                            {{product.auxiliaryUnit || product.basicUnit || product.unit}}
                                        </span>


                                        <app-select *ngIf="product?.units?.size > 1" class="unit"
                                            [name]="'product-' + product.id" [(ngModel)]="product.unitId"
                                            [disabled]="product.unitLockChange" (changeValue)="unitConverter.next(i);">

                                            <app-option *ngFor="let el of product.units | iterableToArray"
                                                [value]="el[0]">

                                                {{el[1].auxiliaryUnit}}

                                            </app-option>
                                        </app-select>
                                    </div>


                                    <div class="stock"
                                        *ngIf="config.showState && product.type !== 3 && product.type !== 4 && product.type !== 6">

                                        <span class="pair-key">{{r?.translations?.inStock}}:</span>
                                        <span *ngIf="config.stateMode === true">{{product.stockLevel}}</span>
                                        <span
                                            *ngIf="config.stateMode === false && product.stockLevelNumber > 0">{{r?.translations?.available}}</span>
                                        <span
                                            *ngIf="config.stateMode === false && product.stockLevelNumber === 0">{{r?.translations?.none}}</span>
                                    </div>

                                </ng-container>
                            </ng-container>

                        </ng-container>

                        <ng-container *ngSwitchCase="'quoteRealizationWithEmptyContent'">
                        </ng-container>

                        <ng-container *ngSwitchCase="'price'">
                            {{product[col.property] | toPrice}}
                            <span class="tablet-inline-block">{{product.currency}}</span>
                        </ng-container>


                        <ng-template #linkContent>
                            <i *ngIf="col.link.labelIcon" class="{{col.link.labelIcon}}"></i>
                            {{product[col.link.labelProperty] || r?.translations[col.link.labelResource]}}
                        </ng-template>


                        <ng-container *ngSwitchCase="'linkedDocumentsArray'">

                            <ng-container *ngFor="let document of product[col.property]">
                                <a class="link-in-table" *ngIf="col.link.type === 'href'; else noHref"
                                    [attr.href]="col.link.hrefCreator(document)">

                                    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                                </a>

                                <ng-template #noHref>
                                    <a class="link-in-table" [routerLink]="col.link.hrefCreator(document)">
                                        <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                                    </a>
                                </ng-template>
                            </ng-container>

                        </ng-container>

                        <ng-container *ngSwitchCase="'linkedDocument'">
                            <ng-container *ngIf="col.link.hrefCreator(product); else withoutLink">
                                <a class="link-in-table" *ngIf="col.link.type === 'href'; else noHref"
                                    [attr.href]="col.link.hrefCreator(product)">
                                    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                                </a>

                                <ng-template #noHref>
                                    <a class="link-in-table" [routerLink]="col.link.hrefCreator(product)">
                                        <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                                    </a>
                                </ng-template>
                            </ng-container>

                            <ng-template #withoutLink>
                                <ng-container *ngTemplateOutlet="linkContent"></ng-container>
                            </ng-template>

                        </ng-container>

                        <ng-container *ngSwitchCase="'complaintHistory'">
                            {{product.completion[0].name}}
                        </ng-container>


                        <ng-container *ngSwitchCase="'complain'">

                            <a [routerLink]="[menuService.routePaths.complaintForm, (product.id || product.itemId) +':'+ product.sourceDocumentId + ':' + product.no]"
                                class="button pure">
                                <i class="ti-write"></i> {{r?.translations?.complain}}
                            </a>

                        </ng-container>

                        <ng-container *ngSwitchCase="'percent'">

                            {{product[col.property] | percentOrEmpty}}

                        </ng-container>


                        <ng-container *ngSwitchCase="'dateWithTime'">

                            {{product[col.property] | removeTime}}

                        </ng-container>

                        <ng-container *ngSwitchCase="'valueWithUnit'">

                            {{product[col.property]}} {{product[col.unitProperty]}}

                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            {{product[col.property]}}
                        </ng-container>

                    </div>
                </div>
                <div class="flex expand-row" *ngIf="config.haveProductsDescription && expandedRowVisibility">
                    <div class="description-col" [ngClass]="{'with-remove-button': config?.hasRemoveButton}">
                        <ng-container
                            *ngIf="config?.canEditProductsDescription && product.isDescriptionEdited; else displayDescription">
                            <div class="description-container edit">
                                <div>
                                    <i class="icon ti-save" (click)="saveItemDescription(product)"></i>
                                </div>
                                <div class="textarea-container">
                                    <textarea name="description-{{product.itemId}}" autofocus
                                        class="item-description-input" [maxlength]="config.productDescriptionMaxLength"
                                        (keyup.esc)="cancelEditingItemDescription(product)"
                                        [(ngModel)]="product.newDescription"></textarea>

                                    <small class="remaining-chars pair-key" id="noteMaxLengthTip">
                                        {{r?.translations?.charactersLeft | format: (config.productDescriptionMaxLength
                                        - product?.newDescription?.length)}}.
                                    </small>
                                </div>

                            </div>
                        </ng-container>
                        <ng-template #displayDescription>
                            <ng-container *ngIf="product.description; else addItemDescription">
                                <div class="description-container readonly">
                                    <i class="icon ti-pencil-alt" *ngIf="config?.canEditProductsDescription"
                                        (click)="prepareEditItemDescriptionView(product)"></i>
                                    <div class="text-bubble">
                                        <ng-container
                                            *ngIf="product.isDescriptionOverflow; else expandedItemDescription">
                                            <span>{{product.collapsedDescription}}</span>
                                            <span class="expand"
                                                (click)="product.isDescriptionOverflow = false">{{r?.translations?.expand
                                                | lowercase}}</span>
                                        </ng-container>
                                        <ng-template #expandedItemDescription>
                                            <span>
                                                {{product.description}}
                                            </span>
                                        </ng-template>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-template>
                        <ng-template #addItemDescription>
                            <div class="description-container add" *ngIf="config?.canEditProductsDescription"
                                (click)="prepareEditItemDescriptionView(product)">
                                <div class="selected-content">
                                    <i class="icon ti-notepad"></i>
                                    <span>{{r?.translations?.addDescription}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div class="tfoot" [ngClass]="{'many-currencies': summaries?.length > 1, 'with-weight': weight}"
            *ngIf="summaries || pagination?.buildPager || pagination?.hasMore || (oldPagination && pagination?.currentPage > 0)">

            <div class="trow pager-col narrow-content">
                <ng-container *ngIf="pagination">

                    <app-old-pager *ngIf="oldPagination && (pagination.hasMore || pagination.currentPage > 0)"
                        [currentPage]="pagination.currentPage" [isNextPage]="pagination.hasMore"
                        (changePage)="changePageMiddleware($event);">
                    </app-old-pager>

                    <app-pager *ngIf="!oldPagination && pagination.buildPager" [buildPager]="pagination.buildPager"
                        [currentPage]="pagination.currentPage" [totalPages]="pagination.totalPages"
                        (changePage)="changePageMiddleware($event);">
                    </app-pager>
                </ng-container>

            </div>

            <div class="trow flex narrow-content" *ngFor="let summary of summaries">

                <div class="tcell {{col.property}}-col" *ngFor="let col of columns; trackBy: trackByFn"
                    [ngClass]="{'with-stepper': col.type === 'quantityWithStepper'}" [ngSwitch]="col.type"
                    [ngStyle]="{'width.%': 100/columns.length }"
                    [attr.data-mobile-label]="r?.translations[col.translation || col.property] ? r?.translations[col.translation || col.property] + ':' : null">


                    <div *ngSwitchCase="'productName'" [ngClass]="{'name-with-weight': weight}">

                        <ng-container *ngIf="summary?.count">

                            <span class="total tablet-block" *ngIf="summary.currency === summaries[0].currency">
                                {{r?.translations?.total}}
                            </span>

                            <span>
                                {{r?.translations?.packageArticlesCount}}: {{summary.count}}
                            </span>

                        </ng-container>

                        <span class="weight" *ngIf="weight?.weightGross && summary.currency === summaries[0].currency">
                            {{r?.translations?.grossWeight}}: {{weight.weightGross}}
                            {{r?.translations?.weightUnitSymbolKg}}
                        </span>

                        <span class="volume" *ngIf="weight?.volume && summary.currency === summaries[0].currency">
                            {{r?.translations?.volume}}: {{weight.volume}} {{r?.translations?.volumeUnitSymbolM3}}
                        </span>
                    </div>

                    <ng-container *ngSwitchCase="'price'">
                        {{summary[col.summaryProperty || col.property] | toPrice}}
                    </ng-container>

                    <ng-container *ngSwitchCase="'dateWithTime'">

                        {{listItem[col.property] | removeTime}}

                    </ng-container>

                    <ng-container *ngSwitchDefault>

                        {{summary[col.summaryProperty || col.property]}}

                    </ng-container>

                </div>
            </div>
        </div>
    </div>


    <ng-template #noProducts>
        <div class="no-results box-message">
            <i class="ti-na"></i>
            <span>{{r?.translations?.resultsNotFound}}</span>
        </div>
    </ng-template>


</ng-container>
