@import 'configuration';

.app-image {

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        &.loading {
            min-height: 65px;
            min-width: 65px;
        }

        .app-loading, .overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 0;
        }

        .image {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
