<app-menu class="profile-bar" *ngIf="backMenuItem" [menuItems]="[backMenuItem]">

    <div class="menu-item active-top">

        <p class="label">
            {{r?.translations[serviceJobDetailsService?.headerResource]}}: <strong class="arg">{{serviceJobDetailsService?.header?.number}}</strong>
        </p>

    </div>

    <a class="menu-item button print" *ngIf="configService?.permissions?.hasAccessToPrinting" (click)="print()">
        <i class="ti-printer"></i>
        {{r?.translations?.print}}
    </a>

</app-menu>


<div class="clear profile-container">

    <ng-container *ngIf="serviceJobDetailsService?.detailsBoxMessages?.showBoxMessage">
        <div class="box-message"
             *ngFor="let boxMessage of serviceJobDetailsService?.detailsBoxMessages?.messages"
             [ngClass]="{'danger': serviceJobDetailsService?.detailsBoxMessages?.boxMessageClass === 0,
                     'warning': serviceJobDetailsService?.detailsBoxMessages?.boxMessageClass === 1}">

            <span [ngSwitch]="boxMessage">
                <i class="ti-na" *ngIf="serviceJobDetailsService?.detailsBoxMessages?.boxMessageClass === 0"></i>
                <i class="ti-alert" *ngIf="serviceJobDetailsService?.detailsBoxMessages?.boxMessageClass === 1"></i>

                <ng-container *ngSwitchCase="3">
                    {{r?.translations?.printFailed}}
                </ng-container>
            </span>
        </div>
    </ng-container>

    <section class="narrow-content" *ngIf="serviceJobDetailsService?.header">

        <div class="state">
            {{r?.translations[serviceJobDetailsService?.header?.stateResourceKey]}} <span *ngIf="serviceJobDetailsService?.header?.status as status">({{status}})</span>
        </div>

        <div class="gr-grid header-container">


            <div class="grid-infos">

                <div class="header-item" *ngIf="serviceJobDetailsService?.header?.creationDate">
                    <small class="pair-key">{{r?.translations?.creationDate}}</small>
                    <p>{{serviceJobDetailsService.header.creationDate | removeTime}}</p>
                </div>
            </div>

            <div class="summary">
                <div class="top-summary top">
                    <span>{{r?.translations?.expectedCostSubtotal}}</span>
                    <span class="emphasised price">
                        {{serviceJobDetailsService?.header?.proceeds | toPrice}} <!-- no currency -->
                    </span>
                </div>
            </div>

            <div>
                <div class="grid-infos">

                    <div class="header-item" *ngIf="serviceJobDetailsService?.header?.realizationDate">
                        <small class="pair-key">{{r?.translations?.expectedDate}}</small>
                        <p>{{serviceJobDetailsService.header.realizationDate | removeTime}}</p>
                    </div>

                    <div class="header-item" *ngIf="serviceJobDetailsService?.header?.plannedEndDate">
                        <small class="pair-key">{{r?.translations?.plannedEndDate}}</small>
                        <p>{{serviceJobDetailsService.header.plannedEndDate | removeTime}}</p>
                    </div>

                    <div class="header-item" *ngIf="serviceJobDetailsService?.header?.contractorName || serviceJobDetailsService?.header?.contractorStreet">
                        <small class="pair-key">{{r?.translations?.deliveryAddress}}</small>
                        <p>{{serviceJobDetailsService.header.contractorName}}</p>
                        <p>{{serviceJobDetailsService.header.contractorStreet}}</p>
                        <p>{{serviceJobDetailsService.header.contractorPostalCode}} {{serviceJobDetailsService.header.contractorCity}}</p>
                    </div>

                    <div class="header-item" *ngIf="serviceJobDetailsService?.header?.paymentDate">
                        <small class="pair-key">{{r?.translations?.dueDate}}</small>
                        <p>{{serviceJobDetailsService.header.paymentDate | removeTime}}</p>
                    </div>

                    <div class="header-item" *ngIf="serviceJobDetailsService?.header?.paymentForm">
                        <small class="pair-key">{{r?.translations?.paymentForm}}</small>
                        <p>{{serviceJobDetailsService.header.paymentForm}}</p>
                    </div>

                    <div class="header-item" *ngFor="let attr of serviceJobDetailsService?.attributes">
                        <small class="pair-key block">{{attr.name}}</small>
                        <p>{{attr.value}}</p>
                    </div>

                    <!-- API extensions
                    <ng-container *ngFor="let extItem of serviceJobDetailsService?.header?.extensions?.extendedItemsList | keyvalue">
                        <app-api-extensions class="header-item" [data]="[extItem]" [removeElementContainer]="true"></app-api-extensions>
                    </ng-container>  -->

                </div>
                <section class="attachments-section">
                    <app-attachments [attachments]="serviceJobDetailsService?.attachments" [attachmentsLayoutType]="'HorizontalList'"></app-attachments>
                </section>
            </div>

            <button class="pure f-right popup-action"
                    *ngIf="configService?.permissions?.hasAccessToPaymentsList"
                    (click)="changePopupVisibility('payments'); loadPayments()">
                {{r?.translations?.showPayments}}
            </button>

        </div>

    </section>
</div>


<ng-container *ngIf="serviceJobDetailsService?.items as devices">

    <div class="articles grid-table" *ngIf="devices.length > 0; else noDevices">

        <div class="offset-col grid-cell thead sticky"></div>

        <div class="position-col grid-cell thead sticky">
            {{r?.translations?.ordinalNumber}}
        </div>

        <div class="name-col grid-cell thead sticky grid-cell-collspan2">
            {{r?.translations?.nameCodeOfDevice}}
        </div>

        <div class="type-col grid-cell thead sticky">
            {{r?.translations?.deviceType}}
        </div>

        <div class="description-col grid-cell thead sticky">
            {{r?.translations?.additionalInformation}}
        </div>

        <div class="mileage-col grid-cell thead sticky">
            {{r?.translations?.mileage}}
        </div>

        <div class="showMore-col grid-cell thead sticky"></div>

        <div class="offset-col grid-cell thead sticky"></div>

        <ng-container *ngFor="let device of devices; let i = index; trackBy: trackByFn">

            <div class="offset-col grid-cell"></div>

            <div class="position-col grid-cell">
                {{device.position}}
            </div>

            <div class="name-col grid-cell grid-cell-collspan2">

                <a class="covering-link"
                   *ngIf="configService?.permissions?.hasAccessToArticleList && device.isArticle"
                   [routerLink]="[menuService?.routePaths?.itemDetails, device.number]"></a>

                <p class="emphasised">{{device.name}}</p>
                <small class="pair-key" *ngIf="configService?.config?.showCode">{{device.code}}</small>
            </div>

            <div class="type-col grid-cell">

                {{r?.translations[device.type]}}
            </div>

            <div class="description-col grid-cell"
                 [attr.data-mobile-label]="r?.translations?.additionalInformation">

                {{device.description}}
            </div>

            <div class="mileage-col grid-cell"
                 [attr.data-mobile-label]="r?.translations?.mileage">

                <span class="pair-key" *ngIf="device.mileage === 0 && !device.mileageUnit; else correctMileage">
                    {{r?.translations?.notApplicable}}
                </span>

                <ng-template #correctMileage>
                    {{device.mileage}} {{device.mileageUnit}}
                </ng-template>

            </div>

            <ng-container *ngIf="device.haveElements; else offsetCol">

                <div #expandTrigger
                     class="expand-col grid-cell"
                     (click)="changeRowCollapserVisibility(expandTrigger); loadDeviceActions(device.id)">

                    <button class="pure">
                        <ng-container *ngIf="expandTrigger.opened; else close">
                            {{r?.translations?.collapse}} <i class="ti-angle-up"></i>
                        </ng-container>
                        <ng-template #close>
                            {{r?.translations?.expand}} <i class="ti-angle-down"></i>
                        </ng-template>
                    </button>

                    <ng-template #expandedArea>

                        <ng-container *ngIf="expandTrigger.opened">
                            <ng-container *ngTemplateOutlet="expandedAreaDefinition"></ng-container>
                        </ng-container>

                    </ng-template>

                </div>

                <div class="offset-col grid-cell"></div>

                <ng-container *ngTemplateOutlet="expandedArea"></ng-container>


                <ng-template #expandedAreaDefinition>

                    <app-loading class="small" *ngIf="!device.hasOwnProperty('actions')"></app-loading>

                    <ng-container *ngFor="let action of device.actions inside-nested-row">

                        <div class="offset-col grid-cell inside-nested-row"></div>

                        <div class="position-col indent-col grid-cell inside-nested-row"></div>

                        <div class="name-col grid-cell inside-nested-row"
                             [ngClass]="{'grid-cell-collspan2': !configService?.permissions?.hasAccessToPriceList || configService?.config?.priceMode === 1}">
                            {{action.itemName}}
                        </div>

                        <div class="price-col grid-cell inside-nested-row"
                             *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 1">
                            <small class="pair-key">{{r?.translations?.subtotalServiceValue}}</small>
                            {{action.priceAfterRebate | toPrice}} {{action.currency}}
                        </div>

                        <div class="dateFrom-col grid-cell inside-nested-row">
                            <small class="pair-key">{{r?.translations?.commencement}}</small>
                            {{action.dateFrom | formatDate: 'YYYY-MM-DD HH:mm'}}
                        </div>

                        <div class="dateTo-col grid-cell inside-nested-row">
                            <small class="pair-key">{{r?.translations?.end}}</small>
                            {{action.dateTo | formatDate: 'YYYY-MM-DD HH:mm'}}
                        </div>

                        <div class="status-col grid-cell inside-nested-row">
                            {{action.status}}
                        </div>

                        <div class="showMore-col grid-cell inside-nested-row">
                            <button class="pure"
                                    (click)="changePopupVisibility('actionDetails', true); loadDeviceActionDetails(action.id, device.id)">
                                {{r?.translations?.seeDetails}}
                            </button>

                        </div>

                        <div class="offset-col grid-cell inside-nested-row"></div>

                    </ng-container>

                </ng-template>

            </ng-container>


            <ng-template #offsetCol>
                <div class="offset-col grid-cell"></div>
                <div class="offset-col grid-cell"></div>
            </ng-template>

        </ng-container>

    </div>

    <ng-template #noDevices>
        <div class="no-results box-message">
            <i class="ti-na"></i>
            <span>{{r?.translations?.resultsNotFound}}</span>
        </div>
    </ng-template>


</ng-container>


<app-modal class="popup payments-popup" *ngIf="paymentsPopupVisible" [isOpened]="paymentsPopupVisible" (close)="changePopupVisibility('payments', false)">

    <app-loader *ngIf="!serviceJobDetailsService.payments"></app-loader>

    <h3 class="title">{{r?.translations?.paymentsList}}</h3>

    <div class="grid payments-grid" *ngIf="serviceJobDetailsService?.payments?.length > 0; else noPayments">

        <ng-container *ngFor="let payment of serviceJobDetailsService.payments">

            <a class="grid-link hover-shadow"
               appWidthOfParent
               [routerLink]="[menuService.routePaths.paymentDetails, payment.id, payment.type]">
            </a>

            <div>
                <p class="pair-key">{{r?.translations?.documentNo}}</p>
                {{payment.documentNumber}}
            </div>

            <div>
                <p class="pair-key">{{r?.translations?.date}}</p>
                {{payment.date | removeTime}}
            </div>

            <div class="price" *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 1">
                <p class="pair-key">{{r?.translations?.netValue}}</p>
                {{payment.netValue | toPrice }} {{payment.currency}}
            </div>

        </ng-container>
    </div>

    <ng-template #noPayments>

        <div class="no-results-with-svg">

            <app-svg-image [svgId]="'Payments'"></app-svg-image>

            <div class="no-results-message">
                <p>{{r?.translations?.noInvoices}}</p>
            </div>
        </div>

    </ng-template>
</app-modal>

<app-modal class="popup action-details-popup" *ngIf="detailsPopupVisible" [isOpened]="detailsPopupVisible" (close)="changePopupVisibility('actionDetails', false)">

    <app-loader *ngIf="!popupData"></app-loader>

    <h3 class="title">{{r?.translations?.serviceDetals}}</h3>

    <div class="grid bold action-details-header-data">
        <span class="grid-cell">{{popupData?.itemName}}</span>
        <span class="grid-cell">{{popupData?.status}}</span>
    </div>

    <div class="grid-table action-details-main-data">

        <div class="link-col"></div>

        <div class="subtotalPrice-col grid-cell" *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 1">
            <small class="pair-key">{{r?.translations?.netPrice}}</small>
            <ng-container *ngIf="popupData?.costType !== 1; else notShowValue">
                {{popupData?.priceAfterRebate | toPrice}} {{popupData?.currency}}
            </ng-container>
        </div>

        <div class="vat-col grid-cell">
            <small class="pair-key">{{r?.translations?.vat}}</small>
            <ng-container *ngIf="popupData?.costType !== 1; else notShowValue">
                {{popupData?.vatValue | percent}}
            </ng-container>
        </div>

        <div class="quantity-col grid-cell">
            <small class="pair-key">{{r?.translations?.quantity}}</small>
            {{popupData?.quantity}}

        </div>

        <div class="discount-col grid-cell" *ngIf="configService?.permissions?.hasAccessToDiscount">
            <ng-container *ngIf="popupData?.rebate > 0 && popupData?.costType !== 1">
                <small class="pair-key">{{r?.translations?.discount}}</small>
                {{popupData?.rebate | toPrice}} {{popupData?.currency}}
            </ng-container>
        </div>

        <div class="subtotalValue-col grid-cell">
            <small class="pair-key">{{r?.translations?.netValue}}</small>
            <ng-container *ngIf="popupData?.costType !== 1; else notShowValue">
                {{popupData?.valueAfterRebate | toPrice}} {{popupData?.currency}}
            </ng-container>
        </div>

        <ng-container *ngIf="popupData?.parts?.length > 0">

            <div class="sparePartsLabel-col grid-cell-full-row grid-cell bold">
                {{r?.translations?.sparePartsUsed}}
            </div>

            <ng-container *ngFor="let part of popupData.parts">

                <a class="link-col grid-link hover-shadow"
                   *ngIf="configService?.permissions?.hasAccessToArticleList"
                   appWidthOfParent
                   [routerLink]="[menuService?.routePaths?.itemDetails, part.itemNumber]"></a>

                <div class="name-col grid-cell inner-clear">

                    <app-image class="f-left small"
                               [alt]="part.itemName"
                               [height]="serviceDetailsImageHeight"
                               [width]="serviceDetailsImageWidth"
                               [imageData]="part.image">
                    </app-image>

                    <div class="f-left product-desc">
                        <span class="emphasised">{{part.itemName}}</span>
                    </div>

                </div>

                <div class="subtotalPrice-col grid-cell" *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 1">
                    <small class="pair-key">{{r?.translations?.netPrice}}</small>
                    <ng-container *ngIf="part?.costType !== 1; else notShowValue">
                        {{part.priceAfterRebate | toPrice}} {{part.currency}}
                    </ng-container>
                </div>

                <div class="quantity-col grid-cell">
                    <small class="pair-key">{{r?.translations?.quantity}}</small>
                    {{part.quantity}}
                </div>


                <div class="discount-col grid-cell" *ngIf="configService?.permissions?.hasAccessToDiscount">
                    <ng-container *ngIf="part.rebate > 0 && part?.costType !== 1">
                        <small class="pair-key">{{r?.translations?.discount}}</small>
                        {{part.rebate | toPrice}} {{part.currency}}
                    </ng-container>
                </div>

                <div class="subtotalValue-col grid-cell" *ngIf="configService?.permissions?.hasAccessToPriceList && configService?.config?.priceMode !== 1">
                    <small class="pair-key">{{r?.translations?.netValue}}</small>
                    <ng-container *ngIf="part?.costType !== 1; else notShowValue">
                        {{part.valueAfterRebate | toPrice}} {{part.currency}}
                    </ng-container>
                </div>

            </ng-container>
        </ng-container>
    </div>


    <div *ngIf="popupData?.serviceman?.length > 0">

        <app-collapser>

            <trigger class="emphasised">
                {{r?.translations?.serviceTechnicians}} <i class="arrow ti-angle-down"></i>
            </trigger>

            <collapsing>
                <div class="grid-infos">
                    <div *ngFor="let serviceman of popupData.serviceman">
                        <p>{{serviceman.firstName}} {{serviceman.secondName}} {{serviceman.surname}}</p>
                        <p><a href="tel:{{serviceman.telephone}}">{{serviceman.telephone}}</a></p>
                        <p><a href="mailto:{{serviceman.email}}">{{serviceman.email}}</a></p>
                    </div>
                </div>
            </collapsing>

        </app-collapser>

    </div>

</app-modal>


<ng-template #notShowValue>{{r?.translations?.noValueSymbol}}</ng-template>
