@import 'configuration.scss';

.app-service-job-details {

    p {
        margin: 0;
    }

    .header-container {
        padding-top: 10px;
        grid-template-rows: auto 1fr;
        align-items: start;

        @media (max-width: $tablet-max) {
            grid-template-rows: none;
        }

        .attachments-section {
            margin-top: 24px;
        }
    }

    .summary {
        @media (max-width: $tablet-max) {
            grid-row: 1;
        }
    }

    .top-summary {
        padding: 15px;
        margin-bottom: 0;
        grid-template-columns: 1fr 1fr;
        display: grid;
    }

    .header-item.api-extensions {
        grid-template-columns: auto;
        grid-gap: 0;
    }

    .popup-action {
        grid-column: 2;
        justify-self: end;

        @media (max-width: $tablet-max) {
            grid-column: 1;
        }
    }

    .articles {
        grid-template-columns: 10% 60px repeat(6, minmax(auto, #{(100 / 6)}fr)) 10%;

        @media (max-width: $laptop-max) {
            grid-template-columns: 3% 60px repeat(6, minmax(auto, #{(100 / 6)}fr)) 3%;
        }

        @media (max-width: $tablet-max) {
            grid-template-columns: 50% 50%;
        }

        .app-loading {
            position: absolute;
        }

        border-bottom: 1px solid $border-color;

        .grid-cell {

            &:not(.inside-nested-row) {
                border-top: 1px solid $border-color;
            }

            &:not(.name-col):not(.type-col) {
                @media (max-width: $tablet-max) {
                    border-top: none;
                }
            }
        }

        .thead {

            &.grid-cell {
                position: sticky;
            }

            &.grid-cell:not(.type-col):not(.name-col) {
                @media (max-width: $tablet-max) {
                    display: none;
                }
            }
        }

        .position-col, .offset-col, .indent-col {
            @media (max-width: $tablet-max) {
                display: none;
            }
        }

        .name-col {
            position: relative;

            @media (max-width: $tablet-max) {
                grid-column: 1 !important;
            }
        }
    }

    

    .api-extensions {
        margin-top: 15px;
    }

    .grid-cell {
        padding: 20px;
        min-width: 0;

        @media (max-width: $tablet-max) {
            padding: 5px;
        }
    }



    .discount-col {
        width: auto !important;
        color: inherit;
    }

    .quantity-col {
        position: static;
        z-index: auto;
    }

    .pair-key {
        display: block;
        margin: 0;
        padding: 0;
    }

    .showMore-col, .expand-col {
        @media (max-width: $tablet-max) {
            grid-column: 2;
            text-align: right;
        }
    }

    [data-mobile-label]::before {
        @media (max-width: $tablet-max) {
            display: block;
        }
    }

    .inside-nested-row {
        margin-bottom: 10px;

        &:not(.status-col):not(.showMore-col) {
            @media (max-width: $tablet-max) {
                margin-bottom: 0;
            }
        }

        &:not(.offset-col):not(.indent-col) {
            background: $thirdparty-color;
        }
    }

    .popup {
        .modal-window {
            width: 60%;
            padding: 45px;

            @media (max-width: $tablet-max) {
                width: auto;
                padding: 10px;
            }
        }

        .modal-content {
            text-align: left;
        }

        .title {
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    .payments-grid {
        grid-template-columns: 1px auto auto auto;
        text-align: left;
        border-top: 1px solid $border-color;

        > * {
            border-bottom: 1px solid $border-color;
            padding: 15px;

            @media (max-width: $tablet-max) {
                padding: 5px;
            }
        }
    }


    .action-details-popup {


        .link-col {

            @media (max-width: $tablet-max) {
                border-top: 1px solid $border-color;
            }
        }

        .grid-table {
            @media (max-width: $tablet-max) {
                overflow: hidden;
            }
        }

        .grid-infos {
            padding: 15px;
        }
    }

    .action-details-header-data {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .action-details-main-data {
        grid-template-columns: 1px 2fr repeat(4, 1fr);
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        @media (max-width: $tablet-max) {
            grid-template-columns: 1px 50% 50%;
        }

        .subtotalPrice-col {
            text-align: left;
        }
    }

    .sparePartsLabel-col {
        border-top: 1px solid $border-color;
    }

    .profile-container {
        padding-left: 0;
        padding-right: 0;
    }
}
