@import 'partials/mixins.scss';

/* ------  basic configuration  ------*/

$font-base: 16px;
$content-fcolor: #232323;
$background: #fff;

$border-color: #d9d9d9; //also used for no-photo icon color

$primary-color: #006547;
//$primary-color: #a80000;
$material-primary-color: #078f66;
$fcolor-for-primary: #fff;

$secondary-color: #7FBA00;
$secondary-hover-color: #87ce0d;
// $secondary-color: #006547;
// $secondary-hover-color: #078f66;
$fcolor-for-secondary: #fff;

$thirdparty-color: #f8f8f8;
$thirdparty-light-color: #fbfbfb;

$sidebars-width: 320px;
$footer-height: 65px;
$offline-message-height: 65px;

//content & notifications
$success: $secondary-color; //for pure text messages the following colors apply to the font
$danger: #c72522; //for box messages the folowing colors apply to the background, font color is 90% darker than background except danger. Danger font is #FFF;
$danger-shadow: #ff8684;
$warning: #F9A825;
$outdated: #e8e8e8;
$outdatedProduct: #7a7a7a;
$blue-info: #40C4FF;
$info: $thirdparty-color;

$sliders-font: $primary-color;
$slider-mobile-caption-bg: $thirdparty-color;

$netto-prices-color: $secondary-color;
$discounts-color: #D50000;

$highlights: #fdd835;
$highlights-hover: #ffe25f;


$dark-highlights: #FFAD22;
$dark-highlights-hover: #FFBD36;

$pair-key-color: #717171; //labels in [key: value] lists (except customer profile)
$pair-key-profile-color: #696666; //labels in [key:value] lists in profile



//product flags

$flagFColor: #FFFFFF;

$flagPromotion: #EF5350;
$flagNews: #81C784;
$flagRecommended: #FFB74D;
$flagFromNewsletter: #9E9E9E;
$flagGreatPrice: #A1887F;
$flagGreatQuality: #4DB6AC;
$flagSale: #F06292;
$flagTopRated: #9575CD;
$flagSellerRecommendation: #64B5F6;

// --- only for webkit ------
$scrollbarBg: $thirdparty-color;
$scrollbarThumb: $primary-color;


//responsive breakpoints
$mobile-min: 425px;
$mobile-max: 768px;

$tablet-min: 481px;
$tablet-max: 1024px;

$laptop-min: 1024px;
$laptop-max: 1600px;


/* ----- advanced configuration ----- */
//--- global
//links
$linksColor: $primary-color;
$linksHover: $primary-color;

//buttons
$solid-button-bg: $primary-color;
$solid-button-fcolor: $fcolor-for-primary;
$solid-hover-bg: $primary-color;

$outline-button-color: $primary-color;
$outline-hover-fcolor: $fcolor-for-primary;
$outline-hover-bg: $primary-color;

$cart-button-bg: $secondary-color;
$cart-button-fcolor: $fcolor-for-secondary;
$cart-button-hover: $secondary-hover-color;

$secondary-button-bg: $thirdparty-color;
$secondary-button-fcolor: $content-fcolor;
$secondary-button-border: $border-color;
$secondary-button-hover: $primary-color;
$secondary-button-hover-fcolor: $fcolor-for-primary;

$disabled-button-bg: $thirdparty-color;
$disabled-button-fcolor: tint($content-fcolor, 50%);
$disabled-button-border: $border-color;

//inputs, selects, textareas
$inputs-border-color: $border-color;
$inputs-bg: $background;
$inputs-fcolor: $content-fcolor; //placeholder will be 50% lighter

//checkboxes & radios
$checkbox-border: $border-color;
$checkbox-bg: $background;
$checkbox-active-bg: $primary-color;
$checkbox-check: $background;

$radio-border: $border-color;
$radio-bg: $background;
$radio-active-bg: $secondary-color;
$radio-dot: $background;

//dropdowns & modals
$dropdowns-bg: $background;
$overlay-bg: rgba($background, 0.75);

//tables
$table-header-bg: $thirdparty-color;
$table-stripes-bg: $thirdparty-color;
$table-border-color: $border-color;

//boxes (aka. cards, panels)
$boxes-bg: $background;
$boxes-border: $border-color;
$boxes-shadow: none;

//animations
$little-transitions-time: 200ms;



//--- header
$header-top-bg: $thirdparty-light-color;

$cart-box: $cart-button-bg;
$cart-box-hover: $cart-button-hover;
$cart-box-inversed-fcolor: $cart-button-fcolor;
$products-amount-bg: $primary-color;
$products-amount-text: #fff;

$search-placeholder: #ababab;

//--- menu bar / bottom bar
$bar-height: 55px;
$bar-bg: $thirdparty-color;
$bar-font: $content-fcolor; //separators will be 70% lighter than font
$bar-active-bg: $background;
$bar-active-font: $content-fcolor;
$bar-active-border: $primary-color;


//--- product's list
$groups-bg: $background;
$groups-fcolor: $content-fcolor; //back labels font is 50% lighter

$filter-section-bg: $thirdparty-color;
$filter-section-fcolor: $content-fcolor;

$open-filter-bg: $background;

//--- cart and complaint options background
$options-bg: $thirdparty-color;

//--- product details
$purchase-section-bg: $thirdparty-color;

//--- customer lists & customer list items details
$detailsDescBg: $thirdparty-color;


$light-shadow: rgba(0, 0, 0, 0.2);
$dark-shadow: rgba(0, 0, 0, 0.5);

$inside-covering-link-bg: rgb(250, 250, 250);

$store-border: rgba(0, 77, 138, 0.5);

$popup-icon: #9c9c9c;

//--- customer addresses
$actions-section-bg: $thirdparty-color;
$light-green: #f6ffe4;
$light-red: #fff5f5;

$unavailable-option-bg: #989898;
$unavailable-option-color: #fff;

$inactive-option: #989898;
