<app-menu class="profile-bar" [menuItems]="menuItems" *ngIf="menuItems && r?.translations"></app-menu>


<nav class="sidebar filters-section tablet-hidden" *ngIf="!configService.isMobile">
    <app-profile-menu class="sticky"></app-profile-menu>
</nav>

<section class="profile-container promotions clear"
         [ngStyle]="{'grid-template-rows': 'repeat(' + (promotionsService?.items?.length + 3) + ', max-content)'}">

    <div class="no-results no-results-with-svg" *ngIf="error">
        <app-svg-image [svgId]="'Promotions'"></app-svg-image>

        <div class="no-results-message">
            <p>{{error}}</p>
        </div>

        <a class="button back-button"
           [routerLink]="menuService?.routePaths?.home">
            {{r?.translations?.backToShop}}
        </a>
    </div>

    <ng-container *ngIf="promotionsService?.items">


        <div *ngFor="let listItem of promotionsService?.items; let i = index"
             class="promotions-list-item shadow inner-clear"
             [ngClass]="{'active-item': listItem.id === activePromotionId, 'hover-shadow': listItem.id !== activePromotionId}"
             (click)="loadActive(listItem.id, i)">

            <div class="ribbon due-days" *ngIf="listItem?.effectiveFrom || listItem?.until">

                <ng-container *ngIf="listItem?.effectiveFrom">
                    {{r?.translations?.fromHour?.toLowerCase()}}
                    {{listItem.effectiveFrom | date: 'dd-MM-yyyy'}}
                </ng-container>

                <ng-container *ngIf="listItem?.until">
                    {{r?.translations?.toHour?.toLowerCase()}}
                    {{listItem.until | date: 'dd-MM-yyyy'}}
                </ng-container>

            </div>

            <p class="title ellipsis">{{listItem.name}}</p>

            <div *ngIf="listItem?.validInHoursFrom || listItem?.validInHoursTo">

                <small class="block">{{r?.translations?.validInHours}}</small>

                <ng-container *ngIf="listItem?.validInHoursFrom">
                    {{r?.translations?.fromHour?.toLowerCase()}}
                    {{listItem?.validInHoursFrom}}
                </ng-container>

                <ng-container *ngIf="listItem?.validInHoursTo">
                    {{r?.translations?.toHour?.toLowerCase()}}
                    {{listItem?.validInHoursTo}}
                </ng-container>
            </div>

            <p class="desc ellipsis pair-key" *ngIf="listItem.comment">{{listItem.comment}}</p>

            <p class="show-details" *ngIf="listItem.id !== activePromotionId">
                {{r?.translations?.seeDetails || r?.translations?.showDetails }}
            </p>

        </div>


        <form class="promotion-details"
              *ngIf="promotionsService?.items?.length > 0 && promotionDetailsService.productsOrDetails"
              [ngStyle]="{'grid-row-start': activePromotion?.index + 2}">

            <h1 class="active-promotion-title">{{activePromotion?.name}}</h1>

            <p class="active-promotion-desc pair-key" *ngIf="activePromotion?.comment">{{activePromotion.comment}}</p>

            <div class="cyclicity-info" *ngIf="activePromotion?.cyclicity">
                {{r?.translations?.promotionIsValid}}

                <ng-container *ngIf="activePromotion.cyclicityInfo.length === 1">
                    {{activePromotion.cyclicityInfo[0]}}
                </ng-container>

                <ng-container *ngIf="activePromotion.cyclicityInfo.length > 1">
                    :
                    <ul class="dashes">
                        <li *ngFor="let info of activePromotion.cyclicityInfo">
                            {{info}}
                        </li>
                    </ul>

                </ng-container>
            </div>

            <section class="attachments-section" *ngIf="attachments">
                <app-attachments [attachments]="attachments" [attachmentsLayoutType]="'HorizontalList'"></app-attachments>
            </section>

            <div class="knt-discount" *ngIf="activePromotion?.type === 1">
                {{promotionDetailsService.productsOrDetails[0].value | percentOrEmpty}}
            </div>

            <app-products-table *ngIf="activePromotion?.type !== 1"
                                [disabled]="!configService?.isOnline"
                                [products]="promotionDetailsService?.productsOrDetails"
                                [columns]="columns"
                                [config]="promotionDetailsService.config"
                                [pagination]="promotionDetailsService?.pagination"
                                [getItemId]="getItemId"
                                (changePage)="changeDetailsPage($event)"
                                (unitConverter)="unitConverter($event)">
            </app-products-table>

            <button class="tablet-block full" type="button" (click)="clearDetails()">{{r?.translations?.hideDetails}}</button>
        </form>

    </ng-container>




</section>


