@import 'configuration.scss';

.app-collapser {

    &, trigger, collapsing {
        &:not(.flex) {
            display: block;
        }
    }

    trigger, collapsing {

        &::after {
            clear: both;
            display: block;
            content: '';
        }
    }

    collapsing {
        padding-bottom: 15px;
    }

    .trigger-wrapper {
        background: none;
        border: none;
        color: inherit;
        border-radius: 0;
        width: 100%;
        display: block;
        padding: 10px 15px;
        text-align: left;

        &:hover {
            background: none;
            color: inherit;
        }
    }

    &::after {
        clear: both;
        display: block;
        content: '';
    }

    .open-label {
        display: inline-block;
    }

    .close-label {
        display: none;
    }

    &.expanded {

        .open-label {
            display: none;
        }

        .close-label {
            display: inline-block;
        }
    }

    &.bottom-trigger {
        display: flex;
        flex-direction: column;

        .trigger-wrapper {
            order: 2;
        }

        .content-container {
            order: 1;
        }
    }
}
