@import 'configuration.scss';

.app-import-cart-results {
    text-align: left;

    .narrow-content {
        clear: both;
        padding-top: 30px;

        button {
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    .app-collapser {

        collapsing {
            border-bottom: 1px solid $border-color;
        }


        .trigger-wrapper {
            padding: 0;

            [style*="display: block"] {
                display: inline;
            }

            .emphasised-section {
                margin: 0;
            }
        }
    }
}
