<input #inputField
       id="{{name}}-field"
       type="{{type}}"
       name="{{name}}"
       [autofocus]="autofocus"
       [tabindex]="tabindex"
       [attr.aria-label]="ariaLabel"
       [attr.aria-describedby]="required ? name + '-requiredMark' : null"
       [disabled]="disabled"
       [value]="value"
       [required]="required"
       [maxlength]="maxlength"
       [minlength]="minlength"
       [autocomplete]="autocomplete"
       (input)="inputMiddleware($event.target.value)"
       [matAutocomplete]="searchList"
       [matAutocompleteDisabled]="matAutocompleteDisabled"
       #trigger="matAutocompleteTrigger" />

<span [ngClass]="{'top': value?.length > 0}"
      class="floating-label"
      (click)="focusInput()">

    <label [attr.aria-labelledby]="ariaLabel ? null : name + '-field'"
           [attr.aria-hidden]="!!ariaLabel">
        <ng-content></ng-content>
    </label>

    <span *ngIf="required"
      id="{{name}}-requiredMark"
      class="required mark"
      [attr.aria-label]="r?.translations?.fieldRequiredMark"></span>
</span>

<mat-autocomplete #searchList="matAutocomplete"
                  (optionSelected)="selectSearchListOption($event?.option?.value)"
                  [displayWith]="displayAutocompleteFn.bind(this)"
                  class="single-autocomplete">
    <ng-container *ngIf="autocompleteConfig?.isAutocompleteEnabled">
        <mat-option *ngIf="autocompleteConfig.loading; else autocompleteListLoaded"
                    disabled>
            <app-loading class="small"></app-loading>
        </mat-option>
        <ng-template #autocompleteListLoaded>
            <ng-container *ngIf="autocompleteConfig?.items?.length > 0; else notFoundAutocompleteItems">
                <mat-option *ngFor="let item of autocompleteConfig.items"
                            [value]="item.article.id"
                            style="height: auto">
                    <div class="mat-option-container">
                        <div class="image-container">
                            <app-image [alt]="item.article.name"
                                       [height]="autocompleteItemImageHeight"
                                       [width]="autocompleteItemImageWidth"
                                       [imageData]="item.article.image">
                            </app-image>

                        </div>
                        <div class="text">
                            <span class="emphasised">{{item.article.name}}</span>
                            <span class="product-code">{{item.article.code.value}}</span>
                        </div>
                    </div>
                </mat-option>
            </ng-container>
            <ng-template #notFoundAutocompleteItems>
                <mat-option style="height: auto"
                            disabled>
                    <div class="mat-option-not-found">
                        <i class="ti-na"></i>
                        <span>{{r?.translations?.noProducts}}</span>
                    </div>
                </mat-option>
            </ng-template>
        </ng-template>
    </ng-container>
</mat-autocomplete>
