<ng-container *ngIf="items">

    <div class="articles" *ngIf="items.length > 0; else noItems">

        <div class="thead sticky">

            <div class="narrow-content trow flex">

                <div class="tcell remove-col" *ngIf="config?.showRemoveButtons">
                </div>

                <div class="tcell name-col">
                    {{r?.translations?.article}}
                </div>

                <div class="tcell quantity-col" [ngClass]="{'read-only': config?.quantityDisplayType === 1}"
                    *ngIf="config?.quantityDisplayType && config.quantityDisplayType !== 0">
                    {{r?.translations?.quantity}}
                </div>

                <div class="tcell selected-item-col" *ngIf="config?.showItemsSelection">
                    <span>{{r?.translations?.copySelectedToCart}}</span>
                    <app-checkbox class="select-all-items" [ngModel]="config.allItemsSelected"
                        (ngModelChange)="onClickSelectAll($event)">{{r?.translations?.selectAll}}
                    </app-checkbox>
                </div>
            </div>
        </div>
        <ng-container *ngIf="configService?.isMobile; else desktop">
            <div class="tbody">

                <div class="trow flex justify-between" *ngFor="let item of items; let i = index; trackBy: trackByFn">

                    <a *ngIf="configService?.permissions?.hasAccessToArticleList && item?.article?.id"
                        [routerLink]="[menuService.routePaths.itemDetails, item.article.id]" class="covering-link"></a>
                    <div class="mobile-left-actions" *ngIf="config?.showItemsSelection">
                        <div class="tcell selected-item-col">
                            <app-checkbox name="addItemToCart" [(ngModel)]="item.selected"
                                (ngModelChange)="onClickSelectItem(item.itemId, $event)">
                                <span class="tablet-inline-block"></span>
                            </app-checkbox>
                        </div>

                        <div class="tcell remove-col" *ngIf="config?.showRemoveButtons">

                            <button class="pure remove-item" [disabled]="disabled || !configService?.isOnline"
                                (click)="removeItemMiddleware(item.itemId)">

                                <i class="ti-trash"></i>
                                <span class="tablet-inline-block">{{r?.translations?.remove}}</span>
                            </button>
                        </div>
                    </div>

                    <div class="tcell name-col" [attr.data-mobile-label]="r?.translations?.article">

                        <div class="flex">

                            <app-image [alt]="item.article.name" [height]="articleItemImageHeight"
                                [width]="articleItemImageWidth" [imageData]="item.article.image">
                            </app-image>

                            <div>
                                <span class="product-name block">{{item.article.name}}</span>
                                <span class="product-code" *ngIf="config?.showCode">{{item.article.code.value}}</span>
                                <ng-container *ngTemplateOutlet="attributes; context: {item: item}"></ng-container>
                            </div>
                        </div>
                    </div>


                    <div class="tcell quantity-col read-only" *ngIf="config?.quantityDisplayType === 1"
                        [attr.data-mobile-label]="r?.translations?.quantity">

                        <div>
                            {{item.quantity?.value}}
                            <span class="unit pair-key">{{item.unit.auxiliaryUnit.unit || item.unit.basicUnit}}</span>
                        </div>

                        <div class="converter pair-key" *ngIf="item.unit.converter">
                            ({{item.unit.converter}})
                        </div>
                    </div>

                    <div class="tcell quantity-col" *ngIf="config?.quantityDisplayType === 2"
                        [attr.data-mobile-label]="r?.translations?.quantity">

                        <app-stepper class="responsive" [isUnitTotal]="item.unit.isUnitTotal ? 1 : 0"
                            [value]="item.quantity?.value" (changeValue)="changeQuantityMiddleware(item.itemId, $event)"
                            [disabled]="!configService?.isOnline">
                        </app-stepper>

                        <div class="inline-block vmiddle">

                            <span class="unit pair-key">{{item.unit.auxiliaryUnit.unit || item.unit.basicUnit}}</span>
                            <span class="converter pair-key">
                                {{item.unit.converter}}
                            </span>
                        </div>
                    </div>


                </div>
            </div>
        </ng-container>
        <ng-template #desktop>
            <div class="narrow-content tbody">

                <div class="trow flex" *ngFor="let item of items; let i = index; trackBy: trackByFn">

                    <a *ngIf="configService?.permissions?.hasAccessToArticleList && item?.article?.id"
                        [routerLink]="[menuService.routePaths.itemDetails, item.article.id]" class="covering-link"></a>
                    <div class="tcell remove-col" *ngIf="config?.showRemoveButtons">

                        <button class="pure remove-item" [disabled]="disabled || !configService?.isOnline"
                            (click)="removeItemMiddleware(item.itemId)">

                            <i class="ti-trash"></i>
                            <span class="tablet-inline-block">{{r?.translations?.remove}}</span>
                        </button>
                    </div>


                    <div class="tcell name-col" [attr.data-mobile-label]="r?.translations?.article">

                        <div class="flex">

                            <app-image class="article-image" [alt]="item.article.name" [height]="articleItemImageHeight"
                                [width]="articleItemImageWidth" [imageData]="item.article.image">
                            </app-image>

                            <div class="product-desc">
                                <span class="product-name block">{{item.article.name}}</span>
                                <span class="product-code" *ngIf="config?.showCode">{{item.article.code.value}}</span>
                                <ng-container *ngTemplateOutlet="attributes; context: {item: item}"></ng-container>
                            </div>
                        </div>
                    </div>


                    <div class="tcell quantity-col read-only" *ngIf="config?.quantityDisplayType === 1"
                        [attr.data-mobile-label]="r?.translations?.quantity">

                        {{item.quantity?.value}} <span class="unit pair-key">{{item.unit.auxiliaryUnit.unit ||
                            item.unit.basicUnit}}</span>

                        <div class="converter pair-key" *ngIf="item.unit.converter">
                            ({{item.unit.converter}})
                        </div>
                    </div>

                    <div class="tcell quantity-col" *ngIf="config?.quantityDisplayType === 2"
                        [attr.data-mobile-label]="r?.translations?.quantity">

                        <app-stepper class="responsive" [isUnitTotal]="item.unit.isUnitTotal ? 1 : 0"
                            [value]="item.quantity?.value" (changeValue)="changeQuantityMiddleware(item.itemId, $event)"
                            [disabled]="!configService?.isOnline">
                        </app-stepper>

                        <div class="inline-block vmiddle">

                            <span class="unit pair-key">{{item.unit.auxiliaryUnit.unit || item.unit.basicUnit}}</span>
                            <span class="converter pair-key">
                                {{item.unit.converter}}
                            </span>
                        </div>
                    </div>

                    <div class="tcell selected-item-col" *ngIf="config?.showItemsSelection">
                        <app-checkbox name="addItemToCart" [(ngModel)]="item.selected"
                            (ngModelChange)="onClickSelectItem(item.itemId, $event)">
                            <span class="tablet-inline-block"></span>
                        </app-checkbox>
                    </div>

                </div>
            </div>
        </ng-template>


        <div class="tfoot" *ngIf="summary || pagination?.buildPager">

            <div class="trow pager-col narrow-content" *ngIf="pagination?.buildPager">
                <app-pager [buildPager]="pagination.buildPager" [currentPage]="pagination.currentPage"
                    [totalPages]="pagination.totalPages" (changePage)="changePageMiddleware($event)">
                </app-pager>
            </div>

            <div class="trow flex narrow-content">
                <div class="tcell">
                    <div>
                        <ng-container *ngIf="summary?.count">
                            <span>
                                {{r?.translations?.packageArticlesCount}}: {{summary.count}}
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ng-template #noItems>
        <div class="no-results box-message">
            <i class="ti-na"></i>
            <span>{{r?.translations?.resultsNotFound}}</span>
        </div>
    </ng-template>
</ng-container>

<ng-template #attributes let-item="item">
    <div class="product-attributes" *ngIf="item.attributes?.length > 0">
        <span class="product-attribute" *ngFor="let attribute of item.attributes">
            <span class="product-attribute__item product-attribute__item--name">{{attribute.translatedName}}:
            </span>
            <span class="product-attribute__item">{{attribute.values | join}}</span>
        </span>
    </div>
</ng-template>
