@import 'configuration.scss';
@import 'partials/mixins.scss';


.swiper-button-prev, .swiper-button-next, .fake-swiper-button-prev, .fake-swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.fake-swiper-button-next, .swiper-button-next, .swiper-container-rtl .swiper-button-prev, .swiper-container-rtl .fake-swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next, .fake-swiper-button-prev, .swiper-container-rtl .fake-swiper-button-next {
    left: 10px;
    right: auto;
}

.swiper-slide {
    height: auto;
}

.app-swiper {
    display: block;

    .modal-window {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .gallery-zoom {
        height: calc(100vh - 170px);

        .swiper-slide {
            height: 100%;
        }
    }

    .gallery-zoom.gallery-thumbs {
        height: 120px;
        margin: 25px 0;
    }

    .gallery-thumbs {
        margin-top: 30px;

        .swiper-slide {
            height: 86px;
            border: 4px solid transparent;
        }

        .swiper-slide-active {
            border: 4px solid $primary-color;
        }
    }

    .loupe-hover {
        opacity: 0;
        background: $background;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        left: 40px;
        right: 40px;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: $primary-color;
        transition: opacity $little-transitions-time;
        text-shadow: 0px -2px 0px $fcolor-for-primary;

        &:hover {
            opacity: 0.5;
        }
    }

    &.slider-nav .swiper-wrapper {
        margin-bottom: 35px;
    }

    .swiper-button-next, .swiper-button-prev, .fake-swiper-button-next, .fake-swiper-button-prev {
        top: 0;
        bottom: 0;
        height: 100%;
        margin-top: 0;
    }

    .swiper-pagination-bullets {
        bottom: -25px;
        display: inline-flex;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        display: inline-block;
        margin: 0 5px;
        width: 110px;
        background: $background;
        border-radius: 0;
        opacity: 1;

        @media (max-width: $tablet-max) {
            margin: 0;
        }
    }

    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        border: 1px solid $border-color;
    }

    .swiper-pagination-bullet-active {
        cursor: default;
        background: $solid-button-bg;
    }


    &.loop {

        .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
            pointer-events: auto;
            opacity: 1;
            cursor: pointer;
        }
    }

    &.dom-changes.loop {
        .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
            pointer-events: auto;
        }
    }

    .image-container {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.fake-swiper-button-next, .fake-swiper-button-prev, .swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    @include themify-style();
    background: none;
    display: flex;
    align-items: center;
    font-size: 35px;
    color: $primary-color;
}

.fake-swiper-button-prev, .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    &::before {
        content: "\e64a";
    }
}

.fake-swiper-button-next, .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    &::before {
        content: "\e649";
    }
}
