<div class="swiper-container main-swiper" #slider>

    <div *ngIf="zoom" class="loupe-hover ti-zoom-in" (click)="toogleZoom()"></div>

    <div class="swiper-wrapper" #slides>
        <ng-content></ng-content>
    </div>

    <div *ngIf="controls && slidesAmount > 1" [hidden]="sliderDisabled || configService.isMobile">

        <ng-container *ngIf="!domChanges || !loop">
            <div class="swiper-button-next" data-controls="next"></div>
            <div class="swiper-button-prev" data-controls="prev"></div>
        </ng-container>

        <ng-container *ngIf="domChanges && loop">
            <div class="fake-swiper-button-next" (click)="handleFakeLoopNext($event)"></div>
            <div class="fake-swiper-button-prev" (click)="handleFakeLoopPrev($event)"></div>
        </ng-container>

    </div>

    <div class="swiper-pagination" *ngIf="nav && slidesAmount > 1" [hidden]="sliderDisabled"></div>

</div>

<div class="swiper-container gallery-thumbs" *ngIf="thumbs && slidesAmount > 1" #thumbsSlider>
    <div class="swiper-wrapper" #thumbsSlides>
    </div>

    <!--<ng-container *ngIf="controls">
        <div class="swiper-button-next" data-controls="next"></div>
        <div class="swiper-button-prev" data-controls="prev"></div>
    </ng-container>-->
</div>

<app-modal *ngIf="zoom && zoomVisibility !== undefined"
           [isOpened]="zoomVisibility"
           (close)="toogleZoom(false)"
           [autoClose]="false">

    <div class="swiper-container gallery-zoom" #zoomSlider>

        <div class="swiper-wrapper" #zoomSlides>
        </div>

        <ng-container *ngIf="controls && slidesAmount > 1">
            <div class="swiper-button-next" data-controls="next"></div>
            <div class="swiper-button-prev" data-controls="prev"></div>
        </ng-container>
    </div>


    <div class="swiper-container gallery-zoom gallery-thumbs" #zoomThumbsSlider *ngIf="slidesAmount > 1">
        <div class="swiper-wrapper" #zoomThumbsSlides>
        </div>

        <!--<ng-container *ngIf="controls">
            <div class="swiper-button-next" data-controls="next"></div>
            <div class="swiper-button-prev" data-controls="prev"></div>
        </ng-container>-->
    </div>
</app-modal>
