@import 'configuration.scss';
.app-threshold-price-list {
    .app-dropdown {
        background: $highlights;
        text-align: left;
        width: 100%;

        &:hover {
            background: $highlights-hover;
        }

        .trigger-container {
            width: 100%;

            .trigger {
                width: 100%;
                font-size: 1.1em;
                font-weight: bold;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5em 1.2em;

                .trigger-text {
                    display: inline-flex;
                    align-items: center;

                    .ti-shopping-cart-full {
                        width: 2em;
                        font-size: 2em;

                        @media (max-width: $tablet-max) {
                            font-size: 1.5em;
                        }
                    }
                }

                .ti-angle-down {
                    padding: 0 0.3em;
                }
            }
        }

        .small {
            font-size: 0.8em;
        }

        .header {
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-items: center;
            min-height: 6em;
            background: $background;
            border-bottom: 1px solid $border-color;
            padding-right: 2.2em;

            @media (max-width: $tablet-max) {
                border-top: 1px solid $border-color;
            }

            .header-icon {
                text-align: center;
                padding: 0 1.5em;

                .ti-shopping-cart-full {
                    font-size: 3.5em;
                    color: $popup-icon;
                }
            }

            .header-text {
                > div {
                    line-height: normal;
                }

                .main-text {
                    font-size: 1.2em;
                    margin-bottom: 2px;
                }
            }
        }

        .body {
            max-height: 400px;
            overflow-y: auto;

            @media (max-width: $laptop-max) {
                width: 100%;
            }

            .body-content {
                width: 90%;
                margin: 15px auto 20px auto;
            }

            .grid-container {
                display: grid;
                grid-template-columns: 3fr 3fr 4fr;
                grid-auto-rows: 1.4em;
                box-shadow: 0 2px 8px $light-shadow;
                background: $background;
                padding: 0.6em 1.2em;
                margin-bottom: 15px;
            }
        }

        .dropdown-window {
            padding: 0;
            overflow-y: hidden;
            background: $thirdparty-color;
            border: 1px solid $border-color;

            @media (max-width: $tablet-max) {
                padding-top: 50px;
            }

            .close {
                padding: 1.2em;
            }
        }
    }
}
