.app-pager {
    text-align: center;
    display: block;
    clear: both;

    .pagination {
        display: inline-flex;
        padding: 20px 0;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }

    input {
        text-align: center;
    }

    input, button {
        height: 35px;
        width: 35px;
    }
}
